<div class="" style="width:50%;margin-left: auto;margin-right: auto">
  <div class="panel panel-default" style="margin-top: 5rem;margin-left: -26rem;">
    <div class="panel-heading"><h2>Wizall</h2></div>
    <div class="cover"></div>
    <div class="panel-body">
      <div id="om-options">
        <a href="#depot" style="padding-left: 4rem; padding-right: 4rem;" (click)="reinitialiser()"  data-toggle="tab">Depôt</a>
        <a href="#retrait" style="padding-left: 4rem; padding-right: 4rem;" (click)="reinitialiser()" data-toggle="tab">Retrait </a>
        <a href="#retraitcode" style="padding-left: 4rem; padding-right: 4rem;" (click)="reinitialiser()" data-toggle="tab">Retrait de bon </a>
        <a href="#envoibon" (click)="reinitialiser()" data-toggle="tab">Envoie de bon</a>
      </div>
      <div class="tab-content" style="width:100%">
        <div class="tab-pane fade in active" style="width:100%" id="depot">
          <h2>Dépôt</h2>
          <a (click)="showmodalfraiscashin()" class="fraistransfert" style="height: 3rem;"> <h4>Consulter les frais</h4> </a>
          <form name="transnat" (ngSubmit)="depotmodal()" #formdepot="ngForm" autocomplete="on" style="margin-top: 2rem;margin-bottom: 2rem;">
           <div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                    <label style="">Numéro du client  :</label>
                </div>
                <div  class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
                  <input style="border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" autocomplete="off" type="text" autocomplete="off" pattern="[0-9]*" [(ngModel)]="this.numclient" name="verifiernuminput" id="numclient"  class="form-control" placeholder="Numéro du client" autofocus>
                </div>
                <p style="color:red" *ngIf="errornumero">Verifier ce Champ</p>
            </div>
            </div>
            <div>
                <div class="row" style="">
                  <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                      <label >Montant du dépôt :</label>
                  </div>
                  <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
                      <input  style="border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" autocomplete="off" autocomplete="off" [(ngModel)]="this.mnt" name="verifiernuminput" id="mnttransdepot"  class="form-control" placeholder="Montant du transfert" required autofocus>
                  </div>
                  <p style="color:red" *ngIf="errormontant">verifier ce champ</p>
                </div>
            </div>
            <div class="form-inline" style="width: 73%;">
                <input style="margin-top: 1rem;border-radius: 2rem 0rem 2rem 2rem;"  type="submit" class="btn btn-success" />
            </div>
          </form>
        </div>
        <div class="tab-pane fade col-lg-offset-1 col-md-offset-1 col-xs-offset-1 col-sm-10 col-xs-10" id="retrait">
          <h2>Retrait</h2>
          <b>Numéro Distributeur : 76 600 36 01</b>
          <form name="transnat" (ngSubmit)="retirermodal()" #formretrait="ngForm" autocomplete="on" style="margin-top: 2rem;margin-bottom: 2rem;">
            <div>
                <div class="row" style="">
                  <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                      <label style="margin-top:1.5rem">Numéro du client :</label>
                  </div>
                  <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
                      <input  style="border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" autocomplete="off" [(ngModel)]="this.numclient" name="numclient" id="numclient"  class="form-control" placeholder="Numéro du client" required autofocus>
                  </div>
                </div>
            </div>
            <div>
              <div class="row" style="">
                  <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                    <label  style="margin-top:1.5rem">Montant à retirer :</label>
                  </div>
                  <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
                      <input  style="border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" autocomplete="off" [(ngModel)]="this.mnt" name="mnt" id="mnttrans"  class="form-control" placeholder="Montant du transfert" required autofocus>
                  </div>
                  <p style="color:red" *ngIf="errornumero">Verifier ce Champ</p>
               </div>
           </div>
           <div class="form-inline" style="width: 73%; text-align:center">
              <input style="margin-top: 1rem;border-radius: 2rem 0rem 2rem 2rem;"  type="submit" class="btn btn-success" />
            </div>

          </form>
        </div>
        <div style="margin-top:20px"  class="tab-pane fade col-sm-10 col-xs-10" id="retraitcode">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="tab-content" style="margin-top:10px">
                <div class="tab-pane active" id="boncach " >
                  <form class="form-inline row" style="text-align:  center;width: 83%;padding-left: 9rem;">
                    <label class="col-lg-3 col-md-3 col-xs-3 col-sm-3" style="margin-top: 1.5rem;">Code du Bon :</label>
                    <input class="col-lg-8 col-md-8 col-xs-8 col-sm-8 form-control"  style="border: 1px solid #36a9e0;border-radius: 2rem 0rem 2rem 2em;width: 71%;" type="text" [(ngModel)]="codebon" name="codebon"  />
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <input style="border-radius: 2rem 0rem 2rem 2rem;" (click)="showmodalretraitbon()" type="button" value="Vérifier" class="btn btn-success" />
                    </div>
                  </form>
                </div>
                <div style="margin-left:auto;margin-right:auto">
                  <p *ngIf="messageretraitcash"  class="alert alert-success col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-lg-3 col-md-3 col-xs-3 col-sm-3">Operation reussie. Vous pouvez remettre l'argent au client.</p>
                  <p *ngIf="messageretraitcasherror"   class="alert alert-danger col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-lg-3 col-md-3 col-xs-3 col-sm-3">Code Incorrect</p>
                  <p *ngIf="errorverifcode"  class="alert alert-danger col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-lg-3 col-md-3 col-xs-3 col-sm-3">Code bon incorrect</p>
                </div>
                <div class="tab-pane" id="bonachat">
                  <form class="form-inline">
                    <label  class="col-lg-3 col-md-3 col-xs-3 col-sm-3">code du bon d'achat :</label>
                    <div  class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
                        <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" />
                    </div>
                    <div  class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <input style="border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="button" (click)="showmodalretraitbonachat()" class="btn btn-success" value="verifier code" />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top:20px"  class="tab-pane fade col-sm-10 col-xs-10" id="envoibon">
          <div class="panel panel-default">
            <div class="panel-body">
              <div style="width:50%;margin-left:auto;margin-right:auto" class="row">
                <a href="#boncacheA" data-toggle="tab" style="border:2px solid orange;border-radius:10px 0px 10px 10px;height:3rem" class="menu col-lg-offset-4 col-md-offset-4 col-lg-3 col-md-3 col-sm-3 col-xs-3">Bon Cash</a>
                <a (click)="showmodalfraisEnvoieBon()" class="fraistransfert"> <h4>Consulter les frais</h4> </a>
              </div>
              <div class="tab-content col-lg-offset-3 col-md-offset-3" style="margin-top:10px;">
                <div class="tab-pane" id="boncacheA">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" >
                      <form>
                        <fieldset>
                          <legend>Envoyeur</legend>
                          <div class="row">
                            <div class="col-lg-3 col-md-3">
                              <label style="margin-top:1.5rem">prenom</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                              <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" class="textinput" [(ngModel)]="prenomE" name="prenomE" />
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-3">
                              <label style="margin-top:1.5rem">nom</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                              <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" class="textinput" [(ngModel)]="nomE" name="nomE" />
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-3">
                              <label style="margin-top:1.5rem">Telephone</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                              <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="text" [(ngModel)]="telE" name="telE" />
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-3">
                              <label style="margin-top:1.5rem">nationnalité</label>
                            </div>
                            <div class="col-lg-8 col-md-8" style="margin-top:1rem">
                              <select style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" [(ngModel)]="nationalite" name="nationalite">
                                <option>senegalaise</option>
                              </select>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-3">
                              <label>type de piece</label>
                            </div>
                            <div class="col-lg-8 col-md-8"style="margin-top:2rem">
                              <select style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" [(ngModel)]="type_piece" name="type_piece">
                                <option value="idcard">carte d'identite</option>
                                <option value="passport">passport</option>
                              </select>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-3">
                              <label>numero carte</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                              <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="text" [(ngModel)]="num_card" name="num_card" />
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-3">
                              <label style="margin-top:1.5rem">montant</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                              <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="text" [(ngModel)]="montant" name="montant" />
                            </div>
                          </div>
                        </fieldset>
                      </form>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4" style="margin-left:3em">
                      <form>
                        <fieldset>
                          <legend>Beneficiaire</legend>
                          <div class="row">
                            <div class="col-lg-3 col-md-3">
                              <label style="margin-top:1.5rem">prenom</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                              <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="text" [(ngModel)]="prenomB" name="prenomB" />
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-3">
                              <label style="margin-top:1.5rem">nom</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                              <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="text" [(ngModel)]="nomB" name="nomB" />
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-3">
                              <label style="margin-top:1.5rem">telephone</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                              <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="text" [(ngModel)]="telB" name="telB" />
                            </div>
                          </div>
                        </fieldset>
                      </form>
                    </div>
                  </div>
                  <p *ngIf="errorenvoi" class="alert alert-danger" >Veuillez remplir correctement les champs</p>
                  <div>
                    <input type="button" (click)="showmodalenvoiboncash()" value="valider" class="btn btn-success" />
                    <input type="button" (click)="annulerenvoicash()" value="annuler" class="btn btn-danger" />
                  </div>
                </div>
                <div class="tab-pane" id="bonachatA">Service en cours de finalisation.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div bsModal #modaldepot="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-sm">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="fermermodaldepot()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Fenêtre de confirmation Dépôt.</h4>
      </div>
      <div class="modal-body">

        <div>
          <form class="form">
            <div class="form-group">
              <label >Numèro Du Client : {{this.numclient}}</label>
            </div>
            <div class="form-group">
              <label >Montant Transaction : {{this.mnt}}</label>
            </div>
            <div class="form-group">
              <label >Frais Transaction : {{this.fraisDepot}}</label>
            </div>
            <div class="form-group">
              <label >Total à payer : {{nombreEntier(fraisDepot) + nombreEntier(mnt)}}</label>
            </div>
          </form>

        </div>
      </div>
      <div class="modal-footer">
        <input type="button" value="valider" [disabled]="adejaclick==true" (click)="adejaclick==true;deposer()" class="btn btn-success" />
        <input type="button" value="fermer" (click)="fermermodaldepot()" class="btn btn-danger" />
      </div>
    </div>
  </div>

</div>

<div bsModal #modalenvoibonachat="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg modal-md">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="fermermodaldepot()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Fenêtre de confirmation Dépôt.</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-lg-7 col-md-7">
            <form>
              <fieldset>
                <legend>info client</legend>
                <div class="form-inline">
                  <label>prenom</label>
                  <input type="text" class="textinput" [(ngModel)]="prenom" name="prenom" />
                </div>
                <div class="form-inline">
                  <label>nom</label>
                  <input type="text" class="textinput" [(ngModel)]="nom" name="nom" />
                </div>
                <div class="form-inline">
                  <label>Telephone</label>
                  <input type="text" class="textinput" [(ngModel)]="telE" name="telE" />
                </div>
                <div class="form-inline">
                  <label>Nationalite</label>
                  <select class="textinput" [(ngModel)]="nationalite" name="nationalite" >
                    <option value="SN">senegalaise</option>
                  </select>
                </div>
                <div class="form-inline">
                  <label>Type de piece</label>
                  <select class="textinput" [(ngModel)]="type_piece" name="type_piece" >
                    <option value="SN">passport</option>
                  </select>
                </div>
                <div class="form-inline">
                  <label>numero piece</label>
                  <input type="text" class="textinput" [(ngModel)]="num_card" name="num_card" />
                </div>
              </fieldset>
            </form>
          </div>
          <div class="col-lg-4 col-md-4">
            <form>
              <fieldset>
                <legend>info Beneficiaire</legend>
                <div class="form-inline">
                  <label>prenom</label>
                  <input type="text" class="textinput" [(ngModel)]="prenomB" name="prenomB" />
                </div>
                <div class="form-inline">
                  <label>nom</label>
                  <input type="text" class="textinput" [(ngModel)]="nomB" name="nomB" />
                </div>
                <div class="form-inline">
                  <label>Telephone</label>
                  <input type="text" class="textinput" [(ngModel)]="telB" name="telE" />
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <label>Montant : 50000</label>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <label>frais : 2000</label>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <label>Total : 52000</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" value="valider" [disabled]="adejaclick==true" (click)="adejaclick==true;validerbonachat()" class="btn btn-success" />
        <input type="button" value="fermer" (click)="fermermodaldepot()" class="btn btn-danger" />
      </div>
    </div>
  </div>

</div>

<div bsModal #modalretraitbon="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hidemodalretraitbon()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Fenêtre de confirmation Dépôt.</h4>
      </div>
      <div class="modal-body">
        <p *ngIf="errorverifcode" class="alert alert-danger">Code incorrect</p>
        <div>
          <form *ngIf="validerfirst" class="form">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-xs-4">
                <h2>Envoyeur</h2>
                <div class="form-inline  badge">
                  <label>{{prenomE}}</label>
                  <!-- 								   <label>prenom</label>
                                                     <input type="text" class="textinput"  [(ngModel)]="prenomE" name="prenomE" /> -->
                </div>
                <div class="form-inline  badge">
                  <label>{{nomE}}</label>
                  <!-- 								   <label>nom</label>
                                                     <input type="text" class="textinput" [(ngModel)]="nomE" name="nomE" /> -->
                </div>
                <div class="form-inline  badge">
                  <label>{{telE}}</label>
                  <!-- 								   <label>Telephone</label>
                                                     <input type="text" class="textinput" [(ngModel)]="telE" name="telE" /> -->
                </div>

              </div>

              <div class="col-lg-4 col-md-4 col-xs-4">
                <h2>Montant</h2>
                <div class="form-inline badge">
                  <label>{{nombreFormate(montant)}}</label>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-xs-4">
                <h2>Beneficiaire</h2>
                <div class="form-inline  badge">
                  <label>{{prenomB}}</label>
                  <!-- 								   <label>prenom</label>
                                                     <input type="text" class="textinput" [(ngModel)]="prenomB" name="prenomB" /> -->
                </div>
                <div class="form-inline  badge">
                  <label>{{nomB}}</label>
                  <!-- 								   <label>nom</label>
                                                     <input type="text" class="textinput" [(ngModel)]="nomB" name="nomB" /> -->
                </div>
                <div class="form-inline  badge">
                  <label>{{telB}}</label>
                  <!-- 								   <label>Telephone</label>
                                                     <input type="text" class="textinput" [(ngModel)]="telB" name="telB" /> -->
                </div>
              </div>
            </div>
            <input type="button" [disabled]="adejaclick==true" (click)="adejaclick=true;valider_code()" value="valider" class="btn btn-success" />
          </form>
          <form *ngIf="validersecond" class="col-lg-offset-3 col-md-offset-3 col-xs-offset-3 col-sm-offset-3" >
            <div class="row">
              <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                <label>code de validation</label>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                <input type="text" class="textinput" [(ngModel)]="secondcode" name="secondcode" />
              </div>

            </div>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                <label>nationalite</label>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                <select class="textinput" [(ngModel)]="nationalite" name="nationalite">
                  <option value="SN">Sénégalaise</option>
                </select>
              </div>
            </div>
            <div class="row" style="margin-top:10px">
              <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                <label>type carte</label>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                <select class="textinput" [(ngModel)]="type_piece" name="type_piece">
                  <option value="idcard">cni</option>
                  <option value="passport">passport</option>
                  <option></option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                <label>numero carte</label>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                <input type="text" class="textinput" [(ngModel)]="num_card" name="num_card" />
              </div>

            </div>
            <p *ngIf="messagesecondcode" class="alert alert-danger col-lg-3 col-md-3 col-xs-3 col-sm-3">Code Secret Incorrect</p>
            <input type="button" [disabled]="adejaclick==true" (click)="adejaclick=true;validationretraitbon()" class="btn btn-success" value="valider" />
          </form>

        </div>
      </div>
      <div class="modal-footer">
        <input type="button" value="fermer" (click)="hidemodalretraitbon()" class="btn btn-danger" />
      </div>
    </div>
  </div>

</div>

<div bsModal #modalretraitbonachat="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hidemodalretraitbon()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Fenêtre de confirmation Dépôt.</h4>
      </div>
      <div class="modal-body">

        <div>
          <form *ngIf="valider" class="form">
            <div class="form-group">
              <label >Prenom Du Client : </label>
            </div>
            <div class="form-group">
              <label >Nom Du Client : </label>
            </div>
            <input type="button" (click)="valider_code()" value="valider" class="btn btn-success" />
          </form>
          <form *ngIf="!valider" class="form-inline">
            <label>code de validation</label>
            <input type="text" />
            <input type="button" class="btn btn-success" value="valider" />
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" value="valider" [disabled]="adejaclick==true" (click)="adejaclick=true;deposer()" class="btn btn-success" />
        <input type="button" value="fermer" (click)="hidemodalretraitbonachat()" class="btn btn-danger" />
      </div>
    </div>
  </div>

</div>

<div bsModal #modalenvoiboncash="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hidemodalenvoiboncash()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Fenêtre de confirmation Envoi de bon Wizall.</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <h2>Envoyeur</h2>
            <div class="row badge">
              <label> prenom  : {{prenomE}}</label>
            </div>
            <div class="row badge">
              <label> nom  : {{nomE}}</label>
            </div>
            <div class="row badge">
              <label> telephone  : {{telE}}</label>
            </div>
            <div class="row badge">
              <label> nationalite : {{nationalite}}</label>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <h2>Beneficiaire</h2>
            <div class="row badge">
              <label>prenom : {{prenomB}}</label>
            </div>
            <div class="row badge">
              <label>nom : {{nomB}}</label>
            </div>
            <div class="row badge">
              <label>telephone : {{telB}}</label>
            </div>
          </div>
        </div>
        <div class="row badge" style="text-align: center">
          <label>montant : {{montant}}</label>
        </div>
        <div class="row badge" style="text-align: center">
          <label>frais : {{ getFraisTransfert(montant) }}</label>
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" value="valider" [disabled]="adejaclick==true" (click)="adejaclick=true;validerenvoibon()" class="btn btn-success" />
        <input type="button" value="fermer" (click)="hidemodalenvoiboncash()" class="btn btn-danger" />
      </div>
    </div>
  </div>

</div>

<div bsModal #modalretrait="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-sm">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="fermermodalretrait()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Fenêtre de confirmation Retrait.</h4>
      </div>
      <div class="modal-body">

        <div>
          <form class="form">
            <div class="form-group">
              <label >Numèro Du Client : {{this.numclient}}</label>
            </div>
            <div class="form-group">
              <label >Montant Transaction : {{this.mnt}}</label>
            </div>
          </form>

        </div>
      </div>
      <div class="modal-footer">
        <input type="button" value="valider" [disabled]="adejaclick==true" (click)="adejaclick=true;retirer()" class="btn btn-success" />
        <input type="button" value="fermer" (click)="fermermodalretrait()" class="btn btn-danger" />
      </div>
    </div>
  </div>

</div>

<div bsModal #modalfraiscashin="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-md">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="fermermodalfraiscashin()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">FRAIS DEPOT.</h4>
      </div>
      <div class="modal-body">
        <img  src="assets/fraiswizall.PNG" />
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div bsModal #modalfraisEnvoieBon="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="fermermodalfraisEnvoieBon()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">FRAIS TRANSFERT</h4>
      </div>
      <div class="modal-body">
        <img  src="assets/fraiswizalltrans.PNG" />
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div *ngIf="this.loading">
  <app-loader></app-loader>
</div>

