<div class="col-sm-12" style="font-family:'caviar dreams bold';">
    <div class="panel panel-default" style="margin-top: 5rem;">
        <div class="panel-heading" style="margin-left: -26rem;"><h2>Paiement senelec</h2></div>
		    <div class="cover" style="margin-left: -26rem;"></div>
          <div class="panel-body">
            <div class="col-lg-8 col-sm-8 col-xs-8" id="woyofal">
                <form name="transnat" #formsenelec="ngForm" (ngSubmit)="showmodalsenelec()" autocomplete="on" style="margin-top: 2rem;margin-bottom: 2rem;">
                    <div class="form-group row">
                        <label class="col-lg-3 col-md-3" style="margin-top:1.5rem;text-align:left">Numero de police :</label>
                        <div class="col-lg-8 col-md-8">
                            <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="form-control"  type="text" autocomplete="off" [(ngModel)]="this.police" name="verifiernuminput" id="police"   placeholder="Numéro du client" required autofocus>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label class="col-lg-3 col-md-5" style="margin-top:1.5rem;text-align:left">Numero Facture :</label>
                        <div class="col-lg-8 col-md-8">
                          <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="form-control"  type="text" autocomplete="off" [(ngModel)]="this.num_facture" name="verifiernuminput" id="num_facture"   placeholder="Numéro du client" required autofocus>
                        </div>
                    </div>
                    <input style="border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="submit" class="btn btn-success" [disabled]="!formsenelec.form.valid" />
                </form>
                <p *ngIf="message==true">Erreur : {{ errorMessage }}</p>
           </div>
        </div>
    </div>
</div>
<div bsModal #modalsenelec="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="font-family:'caviar dreams bold';">

	<div class="modal-dialog modal-sm">
		<div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hidemodalsenelec()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Informations Facture Senelec</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="etat1 ">
          <p class="alert alert-danger">{{detailfacturesenelec.errorCode}}</p>
        </div>
        <div *ngIf="etat3">
          <p class="alert alert-info">Facture inexistante ou déja payée</p>
        </div>
        <div *ngIf="etat2">
          <p><strong>Police: {{detailfacturesenelec.police}}</strong></p>
          <p><strong>Numéro de facture: {{detailfacturesenelec.numeroFacture}}</strong></p>
          <p><strong>Client: {{detailfacturesenelec.nomclient}}</strong></p>
          <p><strong>Montant: {{detailfacturesenelec.montant}} FCFA</strong></p>
          <p><strong>Frais: 500 FCFA</strong></p>
          <p><strong>Date Echeance: {{detailfacturesenelec.dateecheance}}</strong></p>
        </div>
      </div>
      <div class="modal-footer">
        <input style="border-radius: 2rem 0rem 2rem 2rem;" type="button" *ngIf="etat2" value="valider" [disabled]="adejaclick==true" (click)="adejaclick=true;validerpaimentsenelec()" class="btn btn-success" />
        <input style="border-radius: 2rem 0rem 2rem 2rem;" type="button" value="annuler" (click)="hidemodalsenelec()" class="btn btn-danger" />
      </div>
    </div>
  </div>
</div>
