<div class="col-lg-12 col-md-12"  style="font-family:'caviar dreams bold'">
  <div class="panel panel-default" style="margin-top: 5rem;">
      <div class="panel-heading" style="margin-left: -26rem;">
          <h2>RAPIDO</h2>
      </div>
      <div class="cover" style="margin-left: -26rem;"></div>
      <div class="row" style="margin-top:0px;">
        <div class="">
			<form class="col-lg-12 col-md-12" style="width: 76%;">
					<div class="form-group row">
							<label style="margin-top: 1.5rem; margin-left:0px; text-align: left;" class="col-lg-3 col-md-3 col-lg-3">Telephone</label>
							<div class="form-inline col-lg-8 col-md-8">
									<input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="number" [(ngModel)]="numclient" name="numclient"  placeholder="telephone" class="form-control" />
							</div>
					</div>
					<div class="form-group row">
								<label style="margin-top: 1.5rem;margin-left:0px; text-align: left;" class="col-lg-3 col-md-3 col-lg-3">Montant a recharger</label>
								<div class="form-inline col-lg-8 col-md-8">
										<input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="number" [(ngModel)]="montant" name="montant"  placeholder="montant" class="form-control" />
								</div>
					</div>
					<div >
								<label style="margin-top: 1.5rem;margin-left:0px; text-align: left;" class="col-lg-3 col-md-3">Badge</label>
								<div class="form-inline col-lg-8 col-md-8">
									<input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="number" [(ngModel)]="badge" name="badge"  placeholder="badge" class="form-control" />
								</div>
					</div>
					<div class="form-group row" style="text-align:center">
								<input type="submit" style="border-radius: 2rem 0rem 2rem 2rem;"class="btn btn-success" [disabled]="badge==undefined || montant==undefined || numclient==undefined" (click)="showmodalrapido()" />
					</div>
		   </form>
            <p *ngIf="message==true">Erreur : {{ errorMessage }}</p>
        </div>
      </div>
  </div>
</div>
<div style="font-family:'caviar dreams bold'" bsModal #modalrapido="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="font-family:'caviar dreams bold'">
   <div class="modal-dialog modal-sm">
	   <div class="modal-content" >
			<div class="modal-header">
			   <button type="button" class="close pull-right" aria-label="Close" (click)="fermermodaldepot()">
			      <span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Fenêtre de confirmation Dépôt.</h4>
		    </div>
		   <div class="modal-body">
				<form class="form">
					<div class="form-group">
						 <label >Telephone : {{this.numclient}}</label>
					 </div>
					 <div class="form-group">
						 <label >Montant  : {{this.montant}}</label>
					 </div>
					 <div class="form-group">
						<label >Badge  : {{this.badge}}</label>
					 </div>
			    </form>
		   </div>
		   <div class="modal-footer">
				<input style="border-radius: 2rem 0rem 2rem 2rem;" type="button"  (click)="validerrapido()" value="valider" class="btn btn-success" />
				<input style="border-radius: 2rem 0rem 2rem 2rem;" type="button" value="fermer" (click)="hidemodalrapido()"  class="btn btn-danger" />
		   </div>
	  </div>
   </div>
</div>



<!--<div *ngIf="this.loading">
  <app-loader></app-loader>
</div>-->
