<div class="col-sm-12">
    <div class="panel panel-default" style="margin-top: 5rem;margin-left: -26rem;">
        <div class="panel-heading"><h2>Paiement Facture Sde</h2></div>
        <!-- /.panel-heading -->
        <div class="cover"></div>
        <div class="panel-body">
          <!-- Nav tabs -->
          <!-- Tab panes -->
          <div class="col-sm-12 col-xs-12" id="sde">
            <form name="transnat" #formsde="ngForm" (ngSubmit)="showmodalsde()" autocomplete="on" style="margin-top: 2rem;margin-bottom: 2rem;">
              <div class="form-inline">
                <label>Réfèrence client :</label>
                <input type="number" autocomplete="off" [(ngModel)]="this.refClientSDE" name="verifiernuminput" id="numclient"  class="form-control" placeholder="Numéro du client" required autofocus>
                <button style="margin-top: 1rem;"  type="submit" class="btn btn-success" [disabled]="!formsde.form.valid">Valider</button>
              </div>
            </form>
            <p *ngIf="message==true">Erreur : {{ errorMessage }}</p>
          </div>
        </div>
    </div>
</div>
<div bsModal #modalsde="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" >
      <div class="modal-header">
				<button type="button" class="close pull-right" aria-label="Close" (click)="hidemodalsde()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Informations Facture SDE</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="etat1 ">
          <p class="alert alert-danger">{{detailfacturesde.errorCode}}</p>
        </div>
        <div *ngIf="etat4">
          <p class="alert alert-danger">{{detailfacturesde.errorCode}}</p>
        </div>
        <div *ngIf="etat3">
          <p class="alert alert-info">Facture inexistante ou déja payée</p>
        </div>
        <div *ngIf="etat2">
          <p><strong>Réf. Client: {{detailfacturesde.reference_client}}</strong></p>
          <p><strong>Réf. Facture: {{detailfacturesde.reference_facture}}</strong></p>
          <p><strong>Client: {{detailfacturesde.client}}</strong></p>
          <p><strong>Montant: {{detailfacturesde.montant}} FCFA</strong></p>
          <p><strong>Frais: 500 FCFA</strong></p>
          <p><strong>Date Echeance: {{detailfacturesde.echeance}}</strong></p>
        </div>
      </div>
       <div class="modal-footer">
        <input type="button" *ngIf="etat2" value="valider" (click)=" paimantsde()" class="btn btn-success" />
        <input type="button" value="annuler" (click)="hidemodalsde()" class="btn btn-danger" />
       </div>
    </div>
  </div>
</div>

