<div class="col-sm-12">
  <div class="panel panel-default" style="margin-top: 5rem;margin-left: -26rem;">
      <div class="panel-heading">
          <h2>CANAL</h2>

      </div>
      <!-- /.panel-heading -->

      <div class="cover"></div>

      <div class="panel-body">
          <!-- Nav tabs -->
          <div id="om-options">
            <a href="#envoi" style="padding-left: 4rem; padding-right: 4rem;" (click)="reinitialise()"  data-toggle="tab">Réabonnement</a>
            <a href="#NewAbonnement" style="padding-left: 4rem; padding-right: 4rem;" (click)="reinitialise()"  data-toggle="tab">Nouvel abonnement</a>
            <a href="#recrutement" style="padding-left: 4rem; padding-right: 4rem;" (click)="reinitialise()"  data-toggle="tab">Recrutement</a>
          </div>
          
       
   
          <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane fade col-sm-12 col-xs-12 in" id="retrait">
                <h2>Nouvel abonnement</h2>
                <h3 *ngIf="retraitreussi" class="alert alert-success">Retrait reussi!</h3>
                <h3 *ngIf="echecretrait" class="alert alert-success">Echec de l'operation reussi!</h3>
                    
                <div *ngIf="!retraitcodeconfirme" >
                      <form name="transnat" (ngSubmit)="retraitrecherche()" #formretrait="ngForm" autocomplete="on" style="margin-top: 2rem;margin-bottom: 2rem;width: 67%;">
                          <form style="width: 100%;">
                          <div class="form-inline" style="width: 100%;">
                              <div class="form-check form-check-inline">
                                  <input  [(ngModel)]="this.codewariRadio" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Code Wari" checked>
                                  <label class="form-check-label" for="exampleRadios1">
                                    Code Wari
                                  </label>
                                  <input [(ngModel)]="this.moyenpayementRadio" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="retrait avec moyen de paiement">
                                  <label class="form-check-label" for="exampleRadios2">
                                    Retrait avec moyen de paiement (carte, voucher , wari pass ect.)
                                  </label>
                                </div>
                          </div>
                        </form>
                          <div class="form-inline" style="width: 100%;">
                              <label style="margin-top:1.5rem;" class="col-lg-3 col-md-3">Quel est le code wari:</label>
                              <div class="form-group col-lg-8 col-md-8">
                                  <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" autocomplete="off" (keyup)="verifNumber($event)" [(ngModel)]="this.code" name="verifiernuminput" id="code"  class="form-control" placeholder="code du client" required autofocus>
                              </div>
                          </div>
                          <form style="width: 100%;">
                          <div class="form-inline" style="width: 50%;">
                              <div class="form-check form-check-inline">
                                  <input [(ngModel)]="this.wariRadio" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="retrait" checked>
                                  <label class="form-check-label" for="exampleRadios1">
                                    Retrait
                                  </label>
                                  <input [(ngModel)]="this.rembourchementRadio" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="rembourchement">
                                  <label class="form-check-label" for="exampleRadios2">
                                    Rembourchement
                                  </label>
                              </div>
                          </div>
                          </form>
                          <div class="form-inline" style="width: 100%; text-align:center" >
                              <input style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="submit" class="btn btn-success"/>
                          </div>
                      </form>
                </div>
                <div class="row"  *ngIf="retraitcodeconfirme==true" id="retraitsuite" style="width:60%">
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                        <form>
                            <fieldset>
                              <legend>Envoyeur</legend>
                              <div class="row">
                                <div class="col-lg-3 col-md-3">
                                  <label style="margin-top:1.5rem">prenom</label>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                  <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" class="textinput" [(ngModel)]="prenomA" name="prenomA" />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-3 col-md-3">
                                  <label style="margin-top:1.5rem">nom</label>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                  <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" class="textinput" [(ngModel)]="nomA" name="nomA" />
                                </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-3 col-md-3">
                                    <label style="margin-top:1.5rem">Adresse</label>
                                  </div>
                                  <div class="col-lg-8 col-md-8">
                                    <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="text" [(ngModel)]="adresseA" name="adresseA" />
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-3 col-md-3">
                                  <label style="margin-top:1.5rem">Cellulaire</label>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                  <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="number" [(ngModel)]="cellulaireA" name="cellulaireA" />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-3 col-md-3">
                                  <label style="margin-top:1.5rem">Montant (fca)</label>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                  <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="number" [(ngModel)]="montant" name="montant" />
                                </div>
                              </div>
                            </fieldset>
                          </form>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                        <form>
                            <fieldset>
                              <legend>Beneficiaire</legend>
                              <div class="row">
                                <div class="col-lg-3 col-md-3">
                                  <label style="margin-top:1.5rem">prenom</label>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                  <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="text" [(ngModel)]="prenomB" name="prenom" />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-3 col-md-3">
                                  <label style="margin-top:1.5rem">nom</label>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                  <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="text" [(ngModel)]="nomB" name="nom" />
                                </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-3 col-md-3">
                                    <label style="margin-top:1.5rem">type de piéce</label>
                                  </div>
                                  <div class="col-lg-8 col-md-8">
                                      <select class="input-control" style="margin-top: 12%;margin-left: 2%;width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" [(ngModel)]="typepiece" name="typepiece">
                                          <option value="CNI">CNI</option>
                                          <!-- <option value="idcard">Pasport</option> -->
                                      </select>                                   
                                  </div>
                                </div>
                              <div class="row">
                                  <div class="col-lg-3 col-md-3">
                                    <label style="margin-top:1.5rem">numéro</label>
                                  </div>
                                  <div class="col-lg-8 col-md-8">
                                    <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="number" [(ngModel)]="numero" name="numero" />
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-3 col-md-3">
                                    <label style="margin-top:1.5rem">pays</label>
                                  </div>
                                  <div class="col-lg-8 col-md-8">
                                      <select class="input-control" style="margin-top: 7%;margin-left: 2%; width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" [(ngModel)]="this.pays" name="pays">
                                          <option value="Sénégal">Sénégal</option>
                                      </select>                                 
                                   </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-3 col-md-3">
                                    <label style="margin-top:1.5rem">date de delivrance</label>
                                  </div>
                                  <div class="col-lg-8 col-md-8">
                                    <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="date" [(ngModel)]="datededelivrance" name="datededelivrance" />
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-3 col-md-3">
                                    <label style="margin-top:1.5rem">date de validité</label>
                                  </div>
                                  <div class="col-lg-8 col-md-8">
                                    <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="date" [(ngModel)]="datedevalidite" name="datedevalidite" />
                                  </div>
                              </div>
                            </fieldset>
                          </form>
                    </div>
                    <div class="form-inline" style="width: 100%; text-align:center" >
                        <input style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="button" class="btn btn-success" (click)="retraitconfirmer()" value="valider"/>
                    </div>
                </div>

              </div>

              <div class="tab-pane fade col-sm-12 col-xs-12" id="envoi">
                      <h2>Réabonnement</h2>
                      <h3 *ngIf="retraitreussi" class="alert alert-success">Retrait reussi!</h3>
                      <h3 *ngIf="echecretrait" class="alert alert-success">Echec de l'operation reussi!</h3>
                      <div class="row" style="width:60%">
                          <div class="row" style="text-align:center;">

                              <div class="col-lg-12 col-md-12">
                                <div *ngIf="formReach == 1">
                                    <form name="validVerifierNum" (ngSubmit)="validVerifierNum()" #verifiernum="ngForm" autocomplete="on" style="margin-bottom: 2rem; text-align: -webkit-left;">
                                        <label style="text-align:center" class="col-md-12 col-1g-12" for="verifiernuminput"> Numéro abonné, Numéro materielle ou Téléphone </label>
                                        <div class="col-md-12 col-lg-12">
                                            <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="number" [(ngModel)]="this.verifierNumInput" name="verifiernuminput" id="verifiernuminput"  class="form-control" placeholder="Numéro abonné, Numéro materielle ou Téléphone" required autofocus>
                                        </div>
                                        <div class="row" style="width: 100%; text-align:center" >
                                            <input style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="button" class="btn btn-success" (click)="validVerifierNum()" [disabled]="!verifiernum.form.valid" value="valider"/>
                                          </div> 
                                    </form> 
                                </div>
                                 
                               </div>
                               <div *ngIf="infoAbonner.length > 0">
                                  <table  class="table table-bordered table-stripped">
                                      <thead>
                                        <tr>
                                          <th>Abonné</th>
                                          <th>C.</th>
                                          <th>Nom</th>
                                          <th>Prénom</th>
                                          <th>Pays</th>
                                          <th>Code postal </th>
                                          <th>Ville</th>
                                          <th>Adresse</th>
                                          <th>Option majeure</th>
                                          <th>Annulé</th>
                                          <th>Ret.</th>
                                          <th>CI</th>
                                          <th>Société</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let a of infoAbonner;let i=index">
                                            <td> <a style="cursor: pointer"  (click)="getAbonner(i)">{{a.abonne}}</a> </td>
                                            <td>{{a.c}}</td>
                                            <td>{{a.nom}}</td>
                                            <td>{{a.prenom}}</td>
                                            <td>{{a.pays}}</td>
                                            <td>{{a.codePostale}}</td>
                                            <td>{{a.ville}}</td>
                                            <td>{{a.Adresse}}</td>
                                            <td>{{a.annuler}}</td>
                                            <td>{{a.ret}}</td>
                                            <td>{{a.ci}}</td>
                                            <td>{{a.societe}}</td>
                                          </tr>
                                    </table>  
                              </div>
                              <div *ngIf="abonnementChoose != null">
                                  <div class="row">
                                      <form name="validVerifierNum" (ngSubmit)="validAbonnement()" #verifiernum="ngForm" autocomplete="on" style="margin-bottom: 2rem; text-align: -webkit-left;">
                                          <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                              <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Numero Abonneé </label>
                                              <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="abonnementChoose.abonne" name="ab" id="" value="{{abonnementChoose.abonne}}"  class="form-control"  >
                                          </div>
                                          <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                              <label  class="col-md-8 col-1g-8" for="verifiernuminput"> nom Abonneé </label>
                                              <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="abonnementChoose.nom" name="nom" id="" value="{{abonnementChoose.nom}}"  class="form-control"  required autofocus>
                                          </div>
                                          <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                              <label  class="col-md-8 col-1g-8" for="verifiernuminput"> prenom Abonneé </label>
                                              <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="abonnementChoose.prenom" name="prenom" id="" value="{{abonnementChoose.prenom}}"  class="form-control"  required autofocus>
                                          </div>
                                          <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                              <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Téléphone Abonneé </label>
                                              <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="abonnementChoose.tel" name="tel" id="" value="{{abonnementChoose.tel}}"  class="form-control"  required autofocus>
                                          </div>
                                          <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                              <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Nombre de mois </label>
                                              <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="number" [(ngModel)]="nombreMois" name="verifiernuminput"  class="form-control"  required autofocus>
                                          </div>
                                          <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                              <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Bouquet </label>
                                              <select style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="Bouquet" name="Bouquet" id="Bouquet"   class="form-control"  required autofocus>
                                                <option >-----------Choisir le bouquet-------------</option>
                                                <option *ngFor="let l of listeBouquet" value="{{l.libelle}}">{{l.libelle}}</option>
                                              </select>
                                          </div>
                                          <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                              <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Offres optionnelles </label>
                                            <div class="col-md-8 col-1g-8">
                                                <label class="control-label" for="" style=" color: black;">
                                                    <input  type="checkbox" name="monsieur" id="monsieur" (click)="getCharme()" title="5000" value="1" [(ngModel)]="charme">CHARME
                                                </label>
                                                
                                                <label *ngIf="Bouquet != 'Date à date Access'" class="control-label" for="" style=" color: black;">
                                                  <input  type="checkbox" name="pvd" id="pvd" (click)="getPVD()" value="1" [(ngModel)]="pvd">PVD
                                                </label>
                                                <label *ngIf="Bouquet != 'Date à date Access'" class="control-label" for="" style=" color: black;">
                                                    <input type="checkbox" name="deuxEcran" id="deuxEcran" (click)="get2EECRAN()" value="1"  [(ngModel)]="deuxiemeEcran">2E ECRAN
                                                </label>
                                              </div>
                                             </div>
                                             <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                                <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Montant net à payer </label>
                                                <div class="row">
                                                  <div class="col-1g-8">
                                                      <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="number" [(ngModel)]="montantNet" name="montant"  readonly  class="form-control"  >
                                                  </div>
                                                  <div class="col-1g-3">
                                                    <input *ngIf="nombreMois > 0" style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="button" class="btn btn-default" (click)="getMontant()"  value="Evalue"/>
                                                    <input *ngIf="nombreMois <= 0" disabled style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="button" class="btn btn-default" (click)="getMontant()"  value="Evalue"/>
                                                  </div>
                                                </div>
                                            </div>
                                          <div class="col-md-8 col-lg-8"style="width: 100%; text-align:center" >
                                              <input style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="button" class="btn btn-success" (click)="validAbonnement()" [disabled]="!verifiernum.form.valid" value="valider"/>
                                            </div> 
                                      </form> 
                                  </div>
                              </div>
                          </div>
                          
                      </div>
                      
              </div>
              <div class="tab-pane fade col-sm-12 col-xs-12" id="NewAbonnement">
                <h2>Nouvel abonnement</h2>
                <h3 *ngIf="retraitreussi" class="alert alert-success">Retrait reussi!</h3>
                <h3 *ngIf="echecretrait" class="alert alert-success">Echec de l'operation reussi!</h3>
                <div class="row" style="width:60%">
                    <div class="row" style="text-align:center;">

                        <div class="col-lg-12 col-md-12">
                          <div *ngIf="formReach == 1">
                              <form name="validVerifierNum" (ngSubmit)="validVerifierNum()" #verifiernum="ngForm" autocomplete="on" style="margin-bottom: 2rem; text-align: -webkit-left;">
                                  <label style="text-align:center" class="col-md-12 col-1g-12" for="verifiernuminput"> Numéro abonné, Numéro materielle ou Téléphone </label>
                                  <div class="col-md-12 col-lg-12">
                                      <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="number" [(ngModel)]="this.verifierNumInput" name="verifiernuminput" id="verifiernuminput"  class="form-control" placeholder="Numéro abonné, Numéro materielle ou Téléphone" required autofocus>
                                  </div>
                                  <div class="row" style="width: 100%; text-align:center" >
                                      <input style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="button" class="btn btn-success" (click)="validVerifierNum()" [disabled]="!verifiernum.form.valid" value="valider"/>
                                    </div> 
                              </form> 
                          </div>
                           
                         </div>
                         <div *ngIf="infoAbonner.length > 0">
                            <table  class="table table-bordered table-stripped">
                                <thead>
                                  <tr>
                                    <th>Abonné</th>
                                    <th>C.</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Pays</th>
                                    <th>Code postal </th>
                                    <th>Ville</th>
                                    <th>Adresse</th>
                                    <th>Option majeure</th>
                                    <th>Annulé</th>
                                    <th>Ret.</th>
                                    <th>CI</th>
                                    <th>Société</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let a of infoAbonner;let i=index">
                                      <td> <a style="cursor: pointer"  (click)="getAbonner(i)">{{a.abonne}}</a> </td>
                                      <td>{{a.c}}</td>
                                      <td>{{a.nom}}</td>
                                      <td>{{a.prenom}}</td>
                                      <td>{{a.pays}}</td>
                                      <td>{{a.codePostale}}</td>
                                      <td>{{a.ville}}</td>
                                      <td>{{a.Adresse}}</td>
                                      <td>{{a.annuler}}</td>
                                      <td>{{a.ret}}</td>
                                      <td>{{a.ci}}</td>
                                      <td>{{a.societe}}</td>
                                    </tr>
                              </table>  
                        </div>
                        <div *ngIf="abonnementChoose != null">
                            <div class="row">
                                <form name="validVerifierNum" (ngSubmit)="validAbonnement()" #verifiernum="ngForm" autocomplete="on" style="margin-bottom: 2rem; text-align: -webkit-left;">
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Numero Abonneé </label>
                                        <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="abonnementChoose.abonne" name="ab" id="" value="{{abonnementChoose.abonne}}"  class="form-control"  >
                                    </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for="verifiernuminput"> nom Abonneé </label>
                                        <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="abonnementChoose.nom" name="nom" id="" value="{{abonnementChoose.nom}}"  class="form-control"  required autofocus>
                                    </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for="verifiernuminput"> prenom Abonneé </label>
                                        <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="abonnementChoose.prenom" name="prenom" id="" value="{{abonnementChoose.prenom}}"  class="form-control"  required autofocus>
                                    </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Téléphone Abonneé </label>
                                        <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="abonnementChoose.tel" name="tel" id="" value="{{abonnementChoose.tel}}"  class="form-control"  required autofocus>
                                    </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                      <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Nombre de mois </label>
                                      <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="number" [(ngModel)]="nombreMois" name="verifiernuminput"  class="form-control"  required autofocus>
                                  </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for="verifiernuminput">  Carte/num de réabo </label>
                                        <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="number" [(ngModel)]="nombreMois" name="verifiernuminput"  class="form-control"  required autofocus>
                                    </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Bouquet </label>
                                        <select style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="Bouquet" name="Bouquet" id="Bouquet"   class="form-control"  required autofocus>
                                          <option >-----------Choisir le bouquet-------------</option>
                                          <option *ngFor="let l of listeBouquet" value="{{l.libelle}}">{{l.libelle}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Offres optionnelles </label>
                                      <div class="col-md-8 col-1g-8">
                                          <label class="control-label" for="" style=" color: black;">
                                              <input  type="checkbox" name="monsieur" id="monsieur" (click)="getCharme()" title="5000" value="1" [(ngModel)]="charme">CHARME
                                          </label>
                                          
                                          <label *ngIf="Bouquet != 'Date à date Access'" class="control-label" for="" style=" color: black;">
                                            <input  type="checkbox" name="pvd" id="pvd" (click)="getPVD()" value="1" [(ngModel)]="pvd">PVD
                                          </label>
                                          <label *ngIf="Bouquet != 'Date à date Access'" class="control-label" for="" style=" color: black;">
                                              <input type="checkbox" name="deuxEcran" id="deuxEcran" (click)="get2EECRAN()" value="1"  [(ngModel)]="deuxiemeEcran">2E ECRAN
                                          </label>
                                        </div>
                                       </div>
                                       <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                          <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Montant net à payer </label>
                                          <div class="row">
                                            <div class="col-1g-8">
                                                <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="number" [(ngModel)]="montantNet" name="montant"  readonly  class="form-control"  >
                                            </div>
                                            <div class="col-1g-3">
                                              <input *ngIf="nombreMois > 0" style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="button" class="btn btn-default" (click)="getMontant()"  value="Evalue"/>
                                              <input *ngIf="nombreMois <= 0" disabled style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="button" class="btn btn-default" (click)="getMontant()"  value="Evalue"/>
                                            </div>
                                          </div>
                                      </div>
                                    <div class="col-md-8 col-lg-8"style="width: 100%; text-align:center" >
                                        <input style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="button" class="btn btn-success" (click)="validAbonnement()" [disabled]="!verifiernum.form.valid" value="valider"/>
                                      </div> 
                                </form> 
                            </div>
                        </div>
                    </div>
                    
                </div>
                
              </div>
              <div class="tab-pane fade col-sm-12 col-xs-12" id="recrutement">
                <h2>Recrutement</h2>
                <h3 *ngIf="retraitreussi" class="alert alert-success">Retrait reussi!</h3>
                <h3 *ngIf="echecretrait" class="alert alert-success">Echec de l'operation reussi!</h3>
                <div class="row" style="width:60%">
                    <div class="row" style="text-align:center;">

                       <!-- <div class="col-lg-12 col-md-12">
                          <div >
                              <form name="validVerifierNum" (ngSubmit)="validVerifierNum()" #verifiernum="ngForm" autocomplete="on" style="margin-bottom: 2rem; text-align: -webkit-left;">
                                  <label style="text-align:center" class="col-md-12 col-1g-12" for="verifiernuminput"> Numéro abonné, Numéro materielle ou Téléphone </label>
                                  <div class="col-md-12 col-lg-12">
                                      <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="number" [(ngModel)]="this.verifierNumInput" name="verifiernuminput" id="verifiernuminput"  class="form-control" placeholder="Numéro abonné, Numéro materielle ou Téléphone" required autofocus>
                                  </div>
                                  <div class="row" style="width: 100%; text-align:center" >
                                      <input style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="button" class="btn btn-success" (click)="validVerifierNum()" [disabled]="!verifiernum.form.valid" value="valider"/>
                                    </div> 
                              </form> 
                          </div>
                           
                         </div>-->

                        <div >
                            <div class="row">
                                <form name="validVerifierNum" (ngSubmit)="validAbonnement()" #verifiernum="ngForm" autocomplete="on" style="margin-bottom: 2rem; text-align: -webkit-left;">
                                    <!--<div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Numero Abonneé </label>
                                        <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="abonnementChoose.abonne" name="ab" id="" value="{{abonnementChoose.abonne}}"  class="form-control"  >
                                    </div>-->
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                      <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Titre </label>
                                      <select style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="NewAbonnement.titre" name="Bouquet" id="Bouquet"   class="form-control"  required autofocus>
                                        <option >-----------Choisir titre du client-------------</option>
                                        <option *ngFor="let l of TitreAbonner" value="{{l.libelle}}">{{l.libelle}}</option>
                                      </select>
                                    </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for="verifiernuminput"> nom Abonneé </label>
                                        <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="NewAbonnement.nom" name="nom" id="" value="{{abonnementChoose.nom}}"  class="form-control"  required autofocus>
                                    </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                      <label  class="col-md-8 col-1g-8" for="verifiernuminput">Type identité </label>
                                      <select style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="NewAbonnement.typeIdentite" name="Bouquet" id="Bouquet"   class="form-control"  required autofocus>
                                        <option >-----------Choisir type d'identifiant-------------</option>
                                        <option *ngFor="let l of TypeIdentite" value="{{l.libelle}}">{{l.libelle}}</option>
                                      </select>
                                    </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for="verifiernuminput">Résidence </label>
                                        <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="NewAbonnement.residence" name="prenom" id=""  class="form-control"  required autofocus>
                                    </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for="verifiernuminput">Code postal </label>
                                        <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="NewAbonnement.codePostale" name="tel" id=""   class="form-control"  required autofocus>
                                    </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                      <label  class="col-md-8 col-1g-8" for="verifiernuminput"> 	Adresse </label>
                                      <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="NewAbonnement.adresse" name="verifiernuminput"  class="form-control"  required autofocus>
                                    </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for="verifiernuminput"> E-mail</label>
                                        <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="NewAbonnement.mail" name="verifiernuminput"  class="form-control"  required autofocus>
                                    </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                      <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Téléphone</label>
                                      <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="number" [(ngModel)]="NewAbonnement.phone" name="verifiernuminput"  class="form-control"  required autofocus>
                                     </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Bouquet </label>
                                        <select style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="NewAbonnement.offre" name="Bouquet" id="Bouquet"   class="form-control"  required autofocus>
                                          <option >-----------Choisir le bouquet-------------</option>
                                          <option *ngFor="let l of listeBouquet" value="{{l.libelle}}">{{l.libelle}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Offres optionnelles </label>
                                      <div class="col-md-8 col-1g-8">
                                          <label class="control-label" for="" style=" color: black;">
                                              <input  type="checkbox" name="monsieur" id="monsieur" (click)="getCharme()" title="5000" value="1" [(ngModel)]="charme">CHARME
                                          </label>
                                          
                                          <label *ngIf="Bouquet != 'Date à date Access'" class="control-label" for="" style=" color: black;">
                                            <input  type="checkbox" name="pvd" id="pvd" (click)="getPVD()" value="1" [(ngModel)]="pvd">PVD
                                          </label>
                                          <label *ngIf="Bouquet != 'Date à date Access'" class="control-label" for="" style=" color: black;">
                                              <input type="checkbox" name="deuxEcran" id="deuxEcran" (click)="get2EECRAN()" value="1"  [(ngModel)]="deuxiemeEcran">2E ECRAN
                                          </label>
                                        </div>
                                       </div>
                                       <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                          <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Montant net à payer </label>
                                          <div class="row">
                                            <div class="col-1g-8">
                                                <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="number" [(ngModel)]="montantNet" name="montant"  readonly  class="form-control"  >
                                            </div>
                                            <div class="col-1g-3">
                                              <input *ngIf="nombreMois > 0" style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="button" class="btn btn-default" (click)="getMontant()"  value="Evalue"/>
                                              <input *ngIf="nombreMois <= 0" disabled style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="button" class="btn btn-default" (click)="getMontant()"  value="Evalue"/>
                                            </div>
                                          </div>
                                      </div>
                                    <div class="col-md-8 col-lg-8"style="width: 100%; text-align:center" >
                                        <input style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="button" class="btn btn-success" (click)="validAbonnement()" [disabled]="!verifiernum.form.valid" value="valider"/>
                                      </div> 
                                </form> 
                            </div>
                        </div>
                    </div>
                    
                </div>
                
              </div>

          </div>
      </div>
  </div>
</div>
<div *ngIf="this.loading">
  <app-loader></app-loader>
</div>

