<div class="col-sm-12">
  <div class="panel panel-default" style="margin-top: 5rem;margin-left: -26rem;">
      <div class="panel-heading">
          <h2>CANAL</h2>

      </div>
      <!-- /.panel-heading -->

      <div class="cover"></div>

      <div class="panel-body">
          <!-- Nav tabs -->
          <div id="om-options">
            <a href="#envoi" style="padding-left: 4rem; padding-right: 4rem;" (click)="reinitialise()"  data-toggle="tab">Réabonnement</a>
            <a href="#recrutement" style="padding-left: 4rem; padding-right: 4rem;" (click)="reinitialise()"  data-toggle="tab">Recrutement</a>
          </div>
          
       
   
          <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane fade col-sm-12 col-xs-12" id="envoi">
                      <h2>Réabonnement</h2>
                      <h3 *ngIf="retraitreussi" class="alert alert-success">Retrait reussi!</h3>
                      <h3 *ngIf="echecretrait" class="alert alert-success">Echec de l'operation reussi!</h3>
                      <div class="row" style="width:60%">
                          <div class="row" style="text-align:center;">

                             
                              <div >
                                  <div class="row">
                                      <form name="validVerifierNum" (ngSubmit)="validAbonnement()" #verifiernum="ngForm" autocomplete="on" style="margin-bottom: 2rem; text-align: -webkit-left;">
                                          <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                              <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Numero Abonné </label>
                                              <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="Abonnement.abonne" name="ab" id=""   class="form-control"  >
                                          </div>
                                          <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                              <label  class="col-md-8 col-1g-8" for="verifiernuminput"> nom Abonné </label>
                                              <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="Abonnement.nom" name="nom" id=""   class="form-control"  >
                                          </div>
                                          <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                              <label  class="col-md-8 col-1g-8" for="verifiernuminput"> prenom Abonné </label>
                                              <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="Abonnement.prenom" name="prenom" id=""   class="form-control"  >
                                          </div>
                                          <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                              <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Téléphone Abonneé </label>
                                              <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="Abonnement.tel" name="tel" id=""   class="form-control"  >
                                          </div>
                                          <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                            <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Numéro décodeur Abonneé </label>
                                            <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="Abonnement.numeroDecodeur" name="tel" id=""   class="form-control"  >
                                         </div>
                                         <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                            <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Numéro carte  Abonneé </label>
                                            <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="Abonnement.numeroCarte" name="tel" id=""   class="form-control"  >
                                        </div>
                                          <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                              <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Nombre de mois </label>
                                              <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="number" [(ngModel)]="nombreMois" name="nbr"  class="form-control"  >
                                          </div>
                                          <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                              <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Bouquet </label>
                                              <select style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="Bouquet"  name="Bouquet" id="Bouquet"   class="form-control"   >
                                                <option >-----------Choisir le bouquet-------------</option>
                                                <option *ngFor="let l of listeBouquet" (click)="getMontant()" value="{{l.libelle}}">{{l.libelle}}</option>
                                              </select>
                                          </div>
                                          <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                              <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Offres optionnelles </label>
                                            <div class="col-md-8 col-1g-8">
                                                <label class="control-label" for="" style=" color: black;">
                                                    <input  type="checkbox" name="monsieur" id="monsieur" (click)="getCharme()" title="5000" value="1" [(ngModel)]="charme">CHARME
                                                </label>
                                                
                                                <label *ngIf="Bouquet != 'Date à date Access'" class="control-label" for="" style=" color: black;">
                                                  <input  type="checkbox" name="pvd" id="pvd" (click)="getPVD()" value="1" [(ngModel)]="pvd">PVD
                                                </label>
                                                <label *ngIf="Bouquet != 'Date à date Access'" class="control-label" for="" style=" color: black;">
                                                    <input type="checkbox" name="deuxEcran" id="deuxEcran" (click)="get2EECRAN()" value="1"  [(ngModel)]="deuxiemeEcran">2E ECRAN
                                                </label>
                                              </div>
                                             </div>
                                             <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                                <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Montant net à payer </label>
                                                <div class="row">
                                                  <div class="col-1g-8">
                                                      <ul class="list-group">
                                                          <li class="list-group-item" style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;font-size: 3rem;font-family: fantasy;padding: 0;">{{montantNet}} FCFA</li>
                                                      </ul>
                                                     <!-- <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="number" (click)="getMontant()" [(ngModel)]="montantNet" name="montant"  readonly  class="form-control"  >-->
                                                  </div>
                                                  <div class="col-1g-3">
                                                    <input *ngIf="nombreMois > 0" style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="button" class="btn btn-info" (click)="showmodalventecredit()"  value="Chaines"/>
                                                    <input *ngIf="nombreMois <= 0" disabled style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="button" class="btn btn-default" (click)="getMontant()"  value="Chaines"/>
                                                  </div>
                                                </div>
                                            </div>
                                          <div class="col-md-8 col-lg-8"style="width: 100%; text-align:center" >
                                              <input style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="button" class="btn btn-success" (click)="validAbonnement()"  value="valider"/>
                                            </div> 
                                      </form> 
                                  </div>
                              </div>
                          </div>
                          
                      </div>
                      
              </div>

              <div class="tab-pane fade col-sm-12 col-xs-12" id="recrutement">
                <h2>Recrutement</h2>
                <h3 *ngIf="retraitreussi" class="alert alert-success">Retrait reussi!</h3>
                <h3 *ngIf="echecretrait" class="alert alert-success">Echec de l'operation reussi!</h3>
                <div class="row" style="width:60%">
                    <div class="row" style="text-align:center;">

                        <div >
                            <div class="row">
                                <form name="validVerifierNum" (ngSubmit)="validRecrutement()" #verifiernum="ngForm" autocomplete="on" style="margin-bottom: 2rem; text-align: -webkit-left;">

                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                      <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Titre </label>
                                      <select style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="NewAbonnement.titre" name="titre" id="titre"   class="form-control"  required autofocus>
                                        <option >-----------Choisir titre du client-------------</option>
                                        <option *ngFor="let l of TitreAbonner" value="{{l.libelle}}">{{l.libelle}}</option>
                                      </select>
                                    </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for="verifiernuminput"> nom Abonneé </label>
                                        <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="NewAbonnement.nom" name="nom" id=""     class="form-control"  required autofocus>
                                    </div>
                                
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for="verifiernuminput"> prenom Abonneé </label>
                                        <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="NewAbonnement.prenom" name="prenom" id=""     class="form-control"  required autofocus>
                                    </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                      <label  class="col-md-8 col-1g-8" for="verifiernuminput">CNI (Carte Nationale D'Identité) </label>
                                      <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="NewAbonnement.cni" name="cni" id=""     class="form-control"  required autofocus>
                                    </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for="">Ville </label>
                                        <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="NewAbonnement.ville" name="ville" id=""  class="form-control"  required autofocus>
                                    </div>

                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                      <label  class="col-md-8 col-1g-8" for="">Adresse </label>
                                      <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="NewAbonnement.adresse" name="adr"  class="form-control"  required autofocus>
                                    </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for=""> E-mail</label>
                                        <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="NewAbonnement.mail" name="mail"  class="form-control"  required autofocus>
                                    </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                      <label  class="col-md-8 col-1g-8" for=""> Téléphone</label>
                                      <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="NewAbonnement.phone" name="tel"  class="form-control"  required autofocus>
                                     </div>
                                     <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for="verifiernuminput"> Numéro Décodeur</label>
                                        <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="NewAbonnement.numeroDecoudeur" name="ndec"  class="form-control"  required autofocus>
                                    </div>
                                     
                                     <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for="">Nombre de mois </label>
                                        <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="number" [(ngModel)]="nombreMois" name="nbrM" id=""   class="form-control"  required autofocus>
                                    </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for=""> Bouquet </label>
                                        <select style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" [(ngModel)]="Bouquet" name="Bouquet" id="Bouquet"   class="form-control"  required autofocus>
                                          <option >-----------Choisir le bouquet-------------</option>
                                          <option *ngFor="let l of listeBouquetR" value="{{l.libelle}}">{{l.libelle}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                        <label  class="col-md-8 col-1g-8" for=""> Offres optionnelles </label>
                                      <div class="col-md-8 col-1g-8">
                                          <label class="control-label" for="" style=" color: black;">
                                              <input  type="checkbox" name="monsieur" id="monsieur" (click)="getCharme()" title="5000" value="1" [(ngModel)]="charme">CHARME
                                          </label>
                                          
                                          <label *ngIf="Bouquet != 'Date à date Access'" class="control-label" for="" style=" color: black;">
                                            <input  type="checkbox" name="pvd" id="pvd" (click)="getPVD()" value="1" [(ngModel)]="pvd">PVD
                                          </label>
                                          <label *ngIf="Bouquet != 'Date à date Access'" class="control-label" for="" style=" color: black;">
                                              <input type="checkbox" name="deuxEcran" id="deuxEcran" (click)="get2EECRAN()" value="1"  [(ngModel)]="deuxiemeEcran">2E ECRAN
                                          </label>
                                        </div>
                                       </div>
                                       <div class="col-md-8 col-lg-8" style=" margin-left: 13rem; ">
                                          <label  class="col-md-8 col-1g-8" for=""> Montant net à payer </label>
                                          <div class="row">
                                            <div class="col-1g-8">
                                                <ul class="list-group">
                                                    <li class="list-group-item" style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;font-size: 3rem;font-family: fantasy;padding: 0;">{{montantNet}} FCFA</li>
                                                </ul>
                                               <!-- <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="number" (click)="getMontant()" [(ngModel)]="montantNet" name="montant"  readonly  class="form-control"  >-->
                                            </div>
                                            <div class="col-1g-3">
                                              <input *ngIf="nombreMois > 0" style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="button" class="btn btn-info" (click)="showmodalventecredit()"  value="Chaines"/>
                                              <input *ngIf="nombreMois <= 0" disabled style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="button" class="btn btn-default" (click)="getMontant()"  value="Chaines"/>
                                            </div>
                                          </div>
                                      </div>
                                    <div class="col-md-8 col-lg-8"style="width: 100%; text-align:center" >
                                        <input style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="button" class="btn btn-success" (click)="validRecrutement()" [disabled]="!verifiernum.form.valid" value="valider"/>
                                      </div> 
                                </form> 
                            </div>
                        </div>
                    </div>
                    
                </div>
                
              </div>

          </div>
      </div>
  </div>
</div>
<div bsModal #modalventecredit="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
       <div class="modal-content" >
         <div class="modal-header">
       <button type="button" class="close pull-right" aria-label="Close" (click)="hidemodalventecredit()">
           <span aria-hidden="true">&times;</span>
           </button>
           <h2  class="modal-title" id="myModalLabel"><strong>{{Bouquet}}</strong></h2>
        </div>
        <div class="modal-body">
            <div>
                <img *ngIf="Bouquet == 'Date à date Evasion' " style="width: 80rem;box-shadow: 1px 1px 8px black;" src="../../assets/ÉVASION.png" alt="">
                <img *ngIf="Bouquet == 'Date à date Les Chaines canal+ & Access' " style="width: 80rem;box-shadow: 1px 1px 8px black;" src="../../assets/Access+.png" alt="">
                <img *ngIf="Bouquet == 'Date à date Access' " style="width: 80rem;box-shadow: 1px 1px 8px black;" src="../../assets/ACCESS.png" alt="">
                <img *ngIf="Bouquet == 'Date à date Tout Canal+' " style="width: 80rem;box-shadow: 1px 1px 8px black;" src="../../assets/TOUT CANAL+.png" alt="">
                <img *ngIf="Bouquet == 'Date à date ESSENTIEL+' " style="width: 80rem;box-shadow: 1px 1px 8px black;" src="../../assets/Essentiel+.png" alt="">
                <img *ngIf="Bouquet == 'Date à date Les Chaines canal+ & Evasion'" style="width: 80rem;box-shadow: 1px 1px 8px black;" src="../../assets/EVASION+.png" alt="">
            </div>
         </div>
        <div class="modal-footer">
           
          </div>
     </div>
   </div>
  
  </div>

<div *ngIf="this.loading">
  <app-loader></app-loader>
</div>

