<div class="col-sm-12">
  <div class="panel panel-default" style="margin-top: 5rem;margin-left: -26rem;">
      <div class="panel-heading">
          <h2>WARI</h2>

      </div>
      <!-- /.panel-heading -->

      <div class="cover"></div>

      <div class="panel-body">
          <!-- Nav tabs -->
          <div id="om-options">
              <a href="#envoi" style="padding-left: 4rem; padding-right: 4rem;" (click)="reinitialise()"  data-toggle="tab">Envoi</a>

              <a href="#retrait" style="padding-left: 4rem; padding-right: 4rem;" (click)="reinitialise()" data-toggle="tab">Retrait </a>
          </div>

          <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane fade col-sm-12 col-xs-12 in" id="retrait">
                <h2>Retrait</h2>
                <h3 *ngIf="retraitreussi" class="alert alert-success">Retrait reussi!</h3>
                <h3 *ngIf="echecretrait" class="alert alert-success">Echec de l'operation reussi!</h3>
                    
                <div *ngIf="!retraitcodeconfirme" >
                      <form name="transnat" (ngSubmit)="retraitrecherche()" #formretrait="ngForm" autocomplete="on" style="margin-top: 2rem;margin-bottom: 2rem;width: 67%;">
                          <form style="width: 100%;">
                          <div class="form-inline" style="width: 100%;">
                              <div class="form-check form-check-inline">
                                  <input  [(ngModel)]="this.codewariRadio" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Code Wari" checked>
                                  <label class="form-check-label" for="exampleRadios1">
                                    Code Wari
                                  </label>
                                  <input [(ngModel)]="this.moyenpayementRadio" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="retrait avec moyen de paiement">
                                  <label class="form-check-label" for="exampleRadios2">
                                    Retrait avec moyen de paiement (carte, voucher , wari pass ect.)
                                  </label>
                                </div>
                          </div>
                        </form>
                          <div class="form-inline" style="width: 100%;">
                              <label style="margin-top:1.5rem;" class="col-lg-3 col-md-3">Quel est le code wari:</label>
                              <div class="form-group col-lg-8 col-md-8">
                                  <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" autocomplete="off" (keyup)="verifNumber($event)" [(ngModel)]="this.code" name="verifiernuminput" id="code"  class="form-control" placeholder="code du client" required autofocus>
                              </div>
                          </div>
                          <form style="width: 100%;">
                          <div class="form-inline" style="width: 50%;">
                              <div class="form-check form-check-inline">
                                  <input [(ngModel)]="this.wariRadio" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="retrait" checked>
                                  <label class="form-check-label" for="exampleRadios1">
                                    Retrait
                                  </label>
                                  <input [(ngModel)]="this.rembourchementRadio" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="rembourchement">
                                  <label class="form-check-label" for="exampleRadios2">
                                    Rembourchement
                                  </label>
                              </div>
                          </div>
                          </form>
                          <div class="form-inline" style="width: 100%; text-align:center" >
                              <input style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="submit" class="btn btn-success"/>
                          </div>
                      </form>
                </div>
                <div class="row"  *ngIf="retraitcodeconfirme==true" id="retraitsuite" style="width:60%">
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                        <form>
                            <fieldset>
                              <legend>Envoyeur</legend>
                              <div class="row">
                                <div class="col-lg-3 col-md-3">
                                  <label style="margin-top:1.5rem">prenom</label>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                  <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" class="textinput" [(ngModel)]="prenomA" name="prenomA" />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-3 col-md-3">
                                  <label style="margin-top:1.5rem">nom</label>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                  <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" class="textinput" [(ngModel)]="nomA" name="nomA" />
                                </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-3 col-md-3">
                                    <label style="margin-top:1.5rem">Adresse</label>
                                  </div>
                                  <div class="col-lg-8 col-md-8">
                                    <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="text" [(ngModel)]="adresseA" name="adresseA" />
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-3 col-md-3">
                                  <label style="margin-top:1.5rem">Cellulaire</label>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                  <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="number" [(ngModel)]="cellulaireA" name="cellulaireA" />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-3 col-md-3">
                                  <label style="margin-top:1.5rem">Montant (fca)</label>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                  <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="number" [(ngModel)]="montant" name="montant" />
                                </div>
                              </div>
                            </fieldset>
                          </form>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                        <form>
                            <fieldset>
                              <legend>Beneficiaire</legend>
                              <div class="row">
                                <div class="col-lg-3 col-md-3">
                                  <label style="margin-top:1.5rem">prenom</label>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                  <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="text" [(ngModel)]="prenomB" name="prenom" />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-3 col-md-3">
                                  <label style="margin-top:1.5rem">nom</label>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                  <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="text" [(ngModel)]="nomB" name="nom" />
                                </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-3 col-md-3">
                                    <label style="margin-top:1.5rem">type de piéce</label>
                                  </div>
                                  <div class="col-lg-8 col-md-8">
                                      <select class="input-control" style="margin-top: 12%;margin-left: 2%;width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" [(ngModel)]="typepiece" name="typepiece">
                                          <option value="CNI">CNI</option>
                                          <!-- <option value="idcard">Pasport</option> -->
                                      </select>                                   
                                  </div>
                                </div>
                              <div class="row">
                                  <div class="col-lg-3 col-md-3">
                                    <label style="margin-top:1.5rem">numéro</label>
                                  </div>
                                  <div class="col-lg-8 col-md-8">
                                    <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="number" [(ngModel)]="numero" name="numero" />
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-3 col-md-3">
                                    <label style="margin-top:1.5rem">pays</label>
                                  </div>
                                  <div class="col-lg-8 col-md-8">
                                      <select class="input-control" style="margin-top: 7%;margin-left: 2%; width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" [(ngModel)]="this.pays" name="pays">
                                          <option value="Sénégal">Sénégal</option>
                                      </select>                                 
                                   </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-3 col-md-3">
                                    <label style="margin-top:1.5rem">date de delivrance</label>
                                  </div>
                                  <div class="col-lg-8 col-md-8">
                                    <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="date" [(ngModel)]="datededelivrance" name="datededelivrance" />
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-3 col-md-3">
                                    <label style="margin-top:1.5rem">date de validité</label>
                                  </div>
                                  <div class="col-lg-8 col-md-8">
                                    <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="date" [(ngModel)]="datedevalidite" name="datedevalidite" />
                                  </div>
                              </div>
                            </fieldset>
                          </form>
                    </div>
                    <div class="form-inline" style="width: 100%; text-align:center" >
                        <input style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="button" class="btn btn-success" (click)="retraitconfirmer()" value="valider"/>
                    </div>
                </div>

              </div>

              <div class="tab-pane fade col-sm-12 col-xs-12" id="envoi">
                     <!-- <h2>Envoi</h2>-->
                      <h3 *ngIf="retraitreussi" class="alert alert-success">Retrait reussi!</h3>
                      <h3 *ngIf="echecretrait" class="alert alert-success">Echec de l'operation reussi!</h3>
                      <div class="row" style="width:60%">
                          <div class="row" style="text-align:center;">
                              <div class="col-lg-3 col-md-3">
                                <label style="margin-top:1.5rem">choisir un pays de destination</label>
                              </div>
                              <div class="col-lg-8 col-md-8">
                                  <select class="input-control" style="margin-top: 7%;margin-left: 2%; width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" [(ngModel)]="this.paysdestination" name="paysdestination">
                                      <option value="Sénégal">Sénégal</option>
                                  </select>                                 
                               </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                              <form>
                                  <fieldset>
                                    <legend>Envoyeur</legend>
                                    <div class="row">
                                      <div class="col-lg-3 col-md-3">
                                        <label style="margin-top:1.5rem">prenom</label>
                                      </div>
                                      <div class="col-lg-8 col-md-8">
                                        <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" class="textinput" [(ngModel)]="prenomA" name="prenom" />
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-lg-3 col-md-3">
                                        <label style="margin-top:1.5rem">nom</label>
                                      </div>
                                      <div class="col-lg-8 col-md-8">
                                        <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="text" class="textinput" [(ngModel)]="nomA" name="nomA" />
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3">
                                          <label style="margin-top:1.5rem">Adresse</label>
                                        </div>
                                        <div class="col-lg-8 col-md-8">
                                          <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="text" [(ngModel)]="adresseA" name="adresseA" />
                                        </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-lg-3 col-md-3">
                                        <label style="margin-top:1.5rem">Cellulaire</label>
                                      </div>
                                      <div class="col-lg-8 col-md-8">
                                        <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="number" [(ngModel)]="cellulaireA" name="cellulaireA" />
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-lg-3 col-md-3">
                                        <label style="margin-top:1.5rem">Montant (fca)</label>
                                      </div>
                                      <div class="col-lg-8 col-md-8">
                                        <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="number" [(ngModel)]="montant" name="montant" />
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3">
                                          <label style="margin-top:1.5rem">Motif</label>
                                        </div>
                                        <div class="col-lg-8 col-md-8">
                                            <select class="input-control" style="margin-top: 7%;margin-left: 2%; width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" [(ngModel)]="motif" name="motif">
                                                <option value="Sénégal">Aide Scolaire</option>
                                                <option value="Sénégal">Assistance Familiale</option>
                                                <option value="Sénégal">Construction Immobiliére</option>
                                                <option value="Sénégal">Réglement de Bien</option>
                                                <option value="Sénégal">Réglement de Services</option>
                                                <option value="Sénégal">Autres</option>
                                                <!-- <option value="idcard">Pasport</option> -->
                                            </select>                                   
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3">
                                          <label style="margin-top:1.5rem">Type de piéce</label>
                                        </div>
                                        <div class="col-lg-8 col-md-8">
                                            <select class="input-control" style="margin-top: 12%;margin-left: 2%; width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" [(ngModel)]="typepiece" name="typepiece">
                                                <option value="CNI">CNI</option>
                                                <!-- <option value="idcard">Pasport</option> -->
                                            </select>                                   
                                        </div>
                                    </div>
                                  </fieldset>
                                </form>
                                <form>
                                    <fieldset>
                                      <legend style="font-size:small">information sur la piéce d'identification</legend>
                                      <div class="row">
                                          <div class="col-lg-3 col-md-3">
                                            <label style="margin-top:1.5rem">numero</label>
                                          </div>
                                          <div class="col-lg-8 col-md-8">
                                            <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="number" [(ngModel)]="numero" name="numero" />
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-lg-3 col-md-3">
                                            <label style="margin-top:1.5rem">pays</label>
                                          </div>
                                          <div class="col-lg-8 col-md-8">
                                              <select class="input-control" style="margin-top: 7%;margin-left: 2%; width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" [(ngModel)]="this.pays" name="pays">
                                                  <option value="Sénégal">Sénégal</option>
                                              </select>                                 
                                           </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-lg-3 col-md-3">
                                            <label style="margin-top:1.5rem">date de delivrance</label>
                                          </div>
                                          <div class="col-lg-8 col-md-8">
                                            <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="date" [(ngModel)]="datededelivrance" name="datededelivrance" />
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-lg-3 col-md-3">
                                            <label style="margin-top:1.5rem">date de validité</label>
                                          </div>
                                          <div class="col-lg-8 col-md-8">
                                            <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="date" [(ngModel)]="datedevalidite" name="datedevalidite" />
                                          </div>
                                      </div>
                                    </fieldset>
                                  </form>
                          </div>
                          <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                              <form>
                                  <fieldset>
                                    <legend>Beneficiaire</legend>
                                    <div class="row">
                                      <div class="col-lg-3 col-md-3">
                                        <label style="margin-top:1.5rem">prenom</label>
                                      </div>
                                      <div class="col-lg-8 col-md-8">
                                        <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="text" [(ngModel)]="prenomB" name="prenomB" />
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-lg-3 col-md-3">
                                        <label style="margin-top:1.5rem">nom</label>
                                      </div>
                                      <div class="col-lg-8 col-md-8">
                                        <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="text" [(ngModel)]="nomB" name="nomB" />
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3">
                                          <label style="margin-top:1.5rem">Adresse</label>
                                        </div>
                                        <div class="col-lg-8 col-md-8">
                                          <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="text" [(ngModel)]="adresseB" name="adresseB" />
                                        </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-lg-3 col-md-3">
                                        <label style="margin-top:1.5rem">Cellulaire</label>
                                      </div>
                                      <div class="col-lg-8 col-md-8">
                                        <input style="width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" class="textinput" type="number" [(ngModel)]="cellulaireB" name="cellulaireB" />
                                      </div>
                                    </div>

                                  </fieldset>
                                </form>
                                <form>
                                    <fieldset>
                                      <legend style="font-size:small">Mode de réception</legend>
                                      <div class="form-inline" style="width: 100%;">
                                          <div class="form-check form-check-inline">
                                              <input  [(ngModel)]="this.espece" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="espece" checked >
                                              <label class="form-check-label" for="exampleRadios1">
                                                Éspece
                                              </label>
                                              <input [(ngModel)]="this.wallet" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="wallet">
                                              <label class="form-check-label" for="exampleRadios2">
                                               Wallet
                                              </label>
                                              <input [(ngModel)]="this.compte" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="compte">
                                              <label class="form-check-label" for="exampleRadios2">
                                                Compte
                                              </label>
                                              <input [(ngModel)]="this.carte" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="carte">
                                              <label class="form-check-label" for="exampleRadios2">
                                                Carte
                                              </label>
                                            </div>
                                      </div>
                                    </fieldset>
                                  </form>
                          </div>      
                      </div>
                      <div class="row" style="width: 100%; text-align:center" >
                          <input style=" border-radius: 2rem 0rem 2rem 2rem;margin-top: 1rem;"  type="button" class="btn btn-success" (click)="envoyer()" value="valider"/>
                      </div>  
              </div>
          </div>
      </div>
  </div>
</div>
<div bsModal #envoiModal="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

   <div class="modal-dialog modal-sm">
      <div class="modal-content" >
        <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="hideAddChildModal()">
          <span aria-hidden="true">&times;</span>
          </button>
            <h4 class="modal-title" id="myModalLabel">Fenêtre de confirmation.</h4>
       </div>
       <div class="modal-body">

       <div>
         <form class="form">
           <div class="form-group">
             <label >numero client : {{this.numclient}}</label>
           </div>
           <div class="form-group">
             <label >montant : {{this.mnt}}</label>
           </div>
         </form>

       </div>
       </div>
       <div class="modal-footer">
        <input style="margin: 1rem;border-radius: 2rem 0rem 2rem 2rem;" type="button" value="valider" [disabled]="adejaclick==true" (click)="adejaclick=true;deposer()" class="btn btn-success" />
        <input style="margin: 1rem;border-radius: 2rem 0rem 2rem 2rem;" type="button" value="fermer" (click)="hideAddChildModal()" class="btn btn-danger" />
       </div>
    </div>
  </div>

</div>

<div bsModal #modalretrait="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

   <div class="modal-dialog modal-sm">
      <div class="modal-content" >
        <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="hidemodalretraitcode()">
          <span aria-hidden="true">&times;</span>
          </button>
            <h4 class="modal-title" id="myModalLabel">Fenêtre de confirmation.</h4>
       </div>
       <div class="modal-body">

       <div>
         <form class="form">
           <div class="form-group">
             <label >Code de retrait : {{this.coderetrait}}</label>
           </div>
           <div class="form-group">
             <label >Prénom : {{this.prenom}}</label>
           </div>
           <div class="form-group">
             <label >Nom : {{this.nom}}</label>
           </div>
           <div class="form-group">
             <label >Date De Naissance: {{this.date}}</label>
           </div>
           <div class="form-group">
             <label >Numéro CNI : {{this.cni}}</label>
           </div>
           <div class="form-group">
             <label >Numéro Client : {{this.numclient}}</label>
           </div>
           <div class="form-group">
             <label >Montant : {{this.mnt}}</label>
           </div>
         </form>

       </div>
       </div>
       <div class="modal-footer">
        <input style="margin: 1rem;border-radius: 2rem 0rem 2rem 2rem;" type="button" value="valider" [disabled]="adejaclick==true" (click)="adejaclick=true;retraitAvecCode()" class="btn btn-success" />
        <input style="margin: 1rem;border-radius: 2rem 0rem 2rem 2rem;" type="button" value="annuler" (click)="hidemodalretraitcode()" class="btn btn-danger" />
       </div>
    </div>
    </div>
</div>

<div *ngIf="this.loading">
  <app-loader></app-loader>
</div>
