<div class="col-sm-12" style="font-family:'caviar dreams bold';">
  <div class="panel panel-default" style="margin-top: 5rem;margin-left: -26rem;">
      <div class="panel-heading"><h2>Transfèrt internationnal</h2></div>
      <div _ngcontent-c23="" class="cover">
        <div _ngcontent-c23="">
          <div _ngcontent-c23="" style="margin-top: 5rem;text-align: center;">
              <div _ngcontent-c23="" id="home-pills">
                <div _ngcontent-c23="" class="row" style="">
                  <form  name="validVerifierNum" (ngSubmit)="rechecher()" #verifiernum="ngForm" autocomplete="on" style="margin-bottom: 2rem; text-align: -webkit-left;" >
                    <div class="row">
                      <div _ngcontent-c23="" class="col-4">
                        <label _ngcontent-c23="" class="col-md-12 col-1g-12" for="verifiernuminput" style="text-align:center"> Code de retrait </label>
                      </div>
                      <div _ngcontent-c23="" class="col-6" style=" margin-left: 11rem;">
                          <input _ngcontent-c23="" [(ngModel)]="verifiernuminput" autofocus="" class="form-control ng-pristine ng-invalid ng-touched" id="verifiernuminput" name="verifiernuminput" placeholder="Code de retrait" required style="width:80%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" type="number" ng-reflect-required="" ng-reflect-name="verifiernuminput">
                      </div>
                      <div _ngcontent-c23="" class="col-2" style="text-align:center">
                          <input _ngcontent-c23="" class="btn btn-success" style=" border-radius: 2rem 0rem 2rem 2rem; margin-top: 1rem;" type="submit" [disabled]="!verifiernum.form.valid" >
                      </div>
                    </div>
                  </form>
              </div>
            </div>
        </div>
   </div>
 </div>
 <div bsModal #modalretraitbonachat="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hidemodalretraitbon()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="myModalLabel">Transfèrt internationnal</h2>
      </div>
      <div class="modal-body">
        <p *ngIf="errorverifcode" class="alert alert-danger">Code incorrect</p>
        <div>
          <form *ngIf="validerfirst" class="form">
            <div class="row">
              
              <div class="col-lg-4 col-md-4 col-xs-4">
                <h2>Envoyeur</h2>
                <div >
                  <ul >
                    <li class="badge" style="font-size: 14px;min-width: 23rem;margin-top: 1rem;"><b> Prenom : </b>{{data.prenom_emet}}</li>
                    <li class="badge" style="font-size: 14px;min-width: 23rem;margin-top: 1rem;"><b>Nom : </b>{{data.nom_emet}}</li>
                    <li class="badge" style="font-size: 14px;min-width: 23rem;margin-top: 1rem;"><b>Téléphone : </b>{{data.telephoneport_emet}}</li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-xs-4">
                <h2>Information</h2>
                <div >
                  <ul >
                    <li class="badge" style="font-size: 14px;min-width: 23rem;margin-top: 1rem;"><b> No transaction : </b>{{data.NumeroTransaction}}</li>
                    <li class="badge" style="font-size: 14px;min-width: 23rem;margin-top: 1rem;"><b>code transaction : </b>{{data.codeTransaction}}</li>
                    <li class="badge" style="font-size: 14px;min-width: 23rem;margin-top: 1rem;"><b>Montant : </b>{{nombreFormate(data.montant_paye)}}</li>
                    <li class="badge" style="font-size: 14px;min-width: 23rem;margin-top: 1rem;"><b>Devise : </b>{{data.devise_paiement}}</li>
                    <li class="badge" style="font-size: 14px;min-width: 23rem;margin-top: 1rem;"><b>Satus : </b>{{data.status}}</li>
                    <li class="badge" style="font-size: 14px;min-width: 23rem;margin-top: 1rem;"><b>Date depot : </b>{{data.datedepot}}</li>
                  </ul>
              </div>
              </div>

              <div class="col-lg-4 col-md-4 col-xs-4">
                <h2>Beneficiaire</h2>
                <div >
                  <ul >
                    <li class="badge" style="font-size: 14px;min-width: 23rem;margin-top: 1rem;"><b> Prenom : </b>{{data.prenom_benef}}</li>
                    <li class="badge" style="font-size: 14px;min-width: 23rem;margin-top: 1rem;"><b>Nom : </b>{{data.nom_benef}}</li>
                    <li class="badge" style="font-size: 14px;min-width: 23rem;margin-top: 1rem;"><b>Téléphone : </b>{{data.telephone_benef}}</li>
                  </ul>
              </div>
              </div>
            </div>
            <input type="button" *ngIf="adejaclick==false" (click)="adejaclick=true;valider_code()" value="valider" class="btn btn-success" />
          </form>
          <form *ngIf="validersecond" name="validVerifierNum" (ngSubmit)="rechecher()" #verifiernum1="ngForm" autocomplete="on" style="margin-top: 1rem" >
            
            <div class="row" >
              <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2" style="margin-top: 1rem">
                <label>type Piéce</label>
              </div>
              <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
                <select class="textinput form-control" style="margin-left: 10px" required [(ngModel)]="type_piece" name="type_piece">
                  <option value="idcard">Carte d'identité</option>
                  <option value="passport">passport</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2" style="margin-top: 1rem">
                <label>numero Piéce</label>
              </div>
              <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
                <input type="text" class="textinput form-control" required [(ngModel)]="num_card" name="num_card" />
              </div>
            </div>
            <input type="button" (click)="showmodalretrait()" class="btn btn-success" value="valider" [disabled]="!verifiernum1.form.valid" />
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" value="fermer" (click)="hidemodalretraitbonachat()" class="btn btn-danger" />
      </div>
    </div>
  </div>
</div>
<div bsModal #modalretrait="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-sm">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="fermermodalretrait()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Fenêtre de confirmation Retrait.</h4>
      </div>
      <div class="modal-body">

        <div>
          <form class="form">
            <div class="form-group">
              <label >Prénom beneficiaire : {{data.prenom_benef}}</label>
            </div>
            <div class="form-group">
              <label >Nom beneficiaire : {{data.nom_benef}}</label>
            </div>
            <div class="form-group">
              <label >No piéce beneficiaire : {{this.num_card}}</label>
            </div>
            <div class="form-group">
              <label >Montant Transaction : {{nombreFormate(data.montant_paye)}} fcfa</label>
            </div>
          </form>

        </div>
      </div>
      <div class="modal-footer">
        <input type="button" value="valider" [disabled]="adejaclick1==true" (click)="adejaclick=true;hidemodalretrait();retirer()" class="btn btn-success" />
        <input type="button" value="fermer" (click)="hidemodalretrait()" class="btn btn-danger" />
      </div>
    </div>
  </div>

</div>

<div *ngIf="this.loading">
  <app-loader></app-loader>
</div>
