<div class="col-sm-12" style="font-family:'caviar dreams bold'">
    <div class="panel panel-default" style="margin-top: 5rem">
        <div class="panel-heading" style="margin-left: -26rem;">

            <h2>Paiement Oolu Solar</h2>

        </div>
        <!-- /.panel-heading -->

		<div class="cover" style="margin-left: -26rem;"></div>

        <div class="panel-body">-->
            <!-- Nav tabs -->

            <!-- Tab panes -->

            <div class="tab-pane fade col-sm-8 col-xs-8 col-lg-9 col-md-9 in " id="oolu-pills">
               <!-- <fieldset style="margin-top: 2rem;margin-bottom: 2rem;">
                    <h2> Paiement Oolu Solar</h2>
                </fieldset>-->
                <p *ngIf="etatsuccess" class="alert alert-success">paiment oolu solar reussi</p>
                <p *ngIf="etaterror" class="alert alert-danger">echec de l'operation</p>
                <form  #payeroolusolarform="ngForm" autocomplete="on">
                  <div class="row">
					 <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                        <label  style="margin-top:1.5rem;" for="telephonerechargementespece" >Téléphone </label>
                     </div>
                    <div class="col-md-8 col-lg-8 col-sm-8">
                      <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;"  type="text" (keyup)="reinitialiserbool()" [(ngModel)]="this.telephone"   name="telephone" id="telephonerechargementespece" class="form-control" placeholder="téléphone client" required>

                    </div>
                    <p class="alert alert-danger" *ngIf="errornumero">Numero Incorrect</p>
                  </div>
                  <div class="row">
					  <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                        <label  style="margin-top:1.5rem;" for="montantrechargementespece" class="col-form-label">N° Compte</label>
                      </div>
                    <div class="col-md-8 col-lg-8 col-sm-8">
                      <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" (keyup)="reinitialiserbool()" type="string" [(ngModel)]="this.compte"   name="compte" id="compte" class="form-control" placeholder="Numéro Compte" required>

                    </div>
                    <p class="alert alert-danger" *ngIf="errorcompte">Numero Compte Incorrect</p>
                  </div>
                  <div class="row">
					  <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                        <label  style="margin-top:1.5rem;" for="montantrechargementespece" class="col-form-label">Montant à recharger</label>
                      </div>
                    <div class="col-md-8 col-lg-8 col-sm-8">
                      <input style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" (keyup)="reinitialiserbool()" type="text" [(ngModel)]="this.montant"   name="montant" id="montant" class="form-control" placeholder="montant à recharger" required>

                    </div>
                    <p class="alert alert-danger" *ngIf="errormontant">Montant Incorrect</p>
                  </div>

                  <div class="row text-center">
                    <input style="border-radius: 2rem 0rem 2rem 2rem;"type="submit" class="btn btn-success" (click)="showmodaloolu()" />
                    <input style=" border-radius: 2rem 0rem 2rem 2rem;" type="reset" class="btn btn-danger" />
                  </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div style="font-family:'caviar dreams bold'" bsModal #modaloolu="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

	<div class="modal-dialog modal-lg">
		<div class="modal-content" >
                <div class="modal-header">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hidemodaloolu()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Informations Compteur Oolu</h4>
                </div>
                <div  class="modal-body">
                       <div class="row">
						   <div style="text-align:left" class="col-lg-3 col-md-3 col-sm-3">
                              <label>Telephone : </label>
                           </div>
                           <div class="col-lg-3 col-md-3 col-sm-3">
                                <label> {{this.telephone}}</label>
                           </div>
                       </div>
                       <div  class="row">
                           <div style="text-align:left" class="col-lg-3 col-md-3 col-sm-3">
							   <label>Numero Compte :</label>
                           </div>
                           <div class="col-lg-3 col-md-3 col-sm-3">
							   <label>{{this.compte}}</label>
                           </div>
                       </div>
                       <div class="row">
                           <div style="text-align:left" class="col-lg-3 col-md-3 col-sm-3">
							   <label>Montant A Recharger :</label>
                           </div>
                           <div class="col-lg-3 col-md-3 col-sm-3">
							   <label>{{this.montant}}</label>
                           </div>
                       </div>
                    <input type="button" [disabled]="adejaclick==true" (click)="adejaclick=true;payeroolusolar()" value="valider"  class="btn btn-success" />
                    <input type="button" value="annuler" (click)="hidemodaloolu()" class="btn btn-danger" />
                </div>
                <div class="modal-footer">

                </div>
        </div>
    </div>
</div>
