
label{
    color : #36A9E0;
    text-transform : capitalize ;
   
}


.tab-content{
    position: relative;
    left: 2rem;
}

.form-inline{
    text-align:center;
}

.loader .ball-pulse-rise > div {
   background-color: #337ab7 !important ;
}

.panel{
	border-style: hidden ;
}

.panel-heading{
	font-size: -webkit-xxx-large ! important;
	color : white !important;
	background-color: transparent !important;
	margin-bottom: 3rem ;
    border-style : hidden ;
    text-align: -webkit-center ;
    position: relative ;
    z-index : 1 ;
}

.panel-heading h2{
    background-color: #36A9E0 !important;
/*    width : 68rem ;*/
    width : 34rem ;
    padding: 2rem ;
    z-index: 1 ;
}   

.panel-body{
    position: relative;
    top: -6rem;
}

fieldset h2{
    margin-top: -3rem;
}
.fieldset1
{
    border:2px solid green;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}
.cover{
    border : 2px solid #36A9E0 ;
    z-index: 0 ;
    position: relative;
    top : -8rem ;
/*    width: 88rem ;*/
    width: 61rem ;
    height: 10rem ;
}

.tab-content h2{
    text-align: center;
    color : white;
    background-color : #F39200;
    padding: 2.5rem;
    border-radius: 2rem 0rem 2rem 2rem;
/*    width: 82rem;*/
    width: 53rem;
}

#om-options{
    position: relative;
    top: -4.7rem;
}

#om-options a{
    border-radius: 1rem 0rem 1rem 1rem;
    padding: 1.3rem;
    color : #F39200 ;
    margin-right: 2rem ;
    background-color: white ;
    border : 2px solid #F39200;
}

#retraitcode .form-inline{
    width: 60% ;
}

#om-options a:hover{
    color : white ;
    background-color: #36A9E0 ;
    text-decoration: none ;
}

#om-options a:focus{
    color : white ;
    background-color: #36A9E0 ;
    text-decoration: none ;
}



#paiefact select{
	margin-left: 1rem ;
}


@media only screen and (max-width: 400px) {
    #om-options{
        width: max-content !important;
    }
}  
a:active {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c
}
.mybtn{
    color: #fff;
    background-color: #337ab7 !important;
    border-color: #337ab7 !important
}
.myheading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.mypanel {
    margin-bottom: 20px;
    background-color:#337ab7;
    

    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.mylabel {
    color : black;
    
}
/*input[type='radio']:checked:after{
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #5cb85c;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}*/
a +td :checked:after{
    background: #5cb85c;
}
td :checked:after {
    background: #5cb85c;
  }
  .mybtnClicked{
    color: #fff;
    background-color: #5cb85c !important;
    border-color: #5cb85c !important
}
.inputWithIcon input[type=text]{
    padding-left: 35px; 
}
.inputWithIcon select[type=text]{
    padding-left: 35px; 
}
.inputWithIcon {
    position: relative;
}
.inputWithIcon i{
    position: absolute;
    top: 0px;
    padding: 7px 8px;
    color: #aaa;
    transition: 3s;
    left: 1rem;
}
.inputWithIcon input [type=text] + i{
    color: dodgerblue;
}
.radiobtn:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.lineClick {
    color: #fff;
    background-color: #5cb85c !important;
    border-color: #5cb85c !important
}
.lineNotClick {
    color: #fff;
    background-color: #337ab7 !important;
    border-color: #337ab7 !important
}