<div id="wrapper" style="font-family:'caviar dreams bold';">
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: transparent !important; border-style: hidden; font-family:'caviar dreams bold';" role="navigation">

        <div  id="navbHead" ><app-navbar-top></app-navbar-top></div>

        <div id="horizontalcenter">
          <ul>
            <li role="presentation"><a [routerLink]="['/accueil', 'GESTIONREPORTING']" ><b>GESTION REPORTING</b> </a></li>
            <li role="presentation"><a [routerLink]="['/accueil', 'DEMANDEPRET']" ><b>DEMANDE DE PRET</b> </a></li>
            <li role="presentation"><a [routerLink]="['/accueil', 'Guide_utilisation']" ><b>Guide d'utilisation</b> </a></li>
          </ul>
        </div>

        <div class="navbar-inverse sidebar" role="navigation" id="leftsidemenu" style="background-color: transparent !important;">
            <div class="sidebar-nav navbar-collapse" style="margin-top : -11rem ;background-color: transparent ;">
                <img src="assets/mobmoney.png" style="margin-bottom: 1rem; margin-left: 1rem ;" /><b style="font-size: 2.3rem; color: #F39200;">Mobile Money</b>
                <ul id="gauche" class="nav in" id="side-menu">
                  <li role="presentation" style="background-color: #f39200; color: white; cursor: pointer;" (click)="geolocaliser()"><a style="color: white;" >GEOLOCALISER LE POINT</a></li>
                  <li *ngFor="let api of registredAPIs; let i = index" ><a [routerLink]="['/accueil', api]"> <img src="assets/icoservice-{{i+1}}.png" /><b>{{api}}</b> </a></li>
                  <li role="presentation"><a [routerLink]="['/accueil', 'WARI']"> <img src="assets/warilogo.png" /> <b>WARI</b> </a></li>
                  <li role="presentation" style="border-bottom: hidden;">&nbsp;</li>
                </ul>           
                <h3 style="color: orange ; font-weight: 600 ; background-color: white ;margin-top: 0px;">Vos opèrations</h3>
                <div>
                    <ng-template #containerEncour>
      
                    </ng-template>
                </div>
              </div>
              <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <div id="page-wrapper" class="row" style="padding-top: 3rem; ">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" id="routeContainDisplayer">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="sidebar-nav navbar-collapse" id="facturers" style="background-color: transparent ;">
          <img src="assets/factures.png" style="margin-bottom : 1rem ; margin-left: 4rem ; height:54px ;"/><b style="font-size: 2.3rem; color: #F39200;"> Facturiers</b>
          <ul id="gaucheF" class="nav in" id="side-menuF">
              <li role="presentation"><a [routerLink]="['/accueil', 'TNT BY EXCAF']" ><img src="assets/icoservice-5-tnt.png" /><b>TNT</b> By Excaf</a></li>
              <li id="med" role="presentation"><a [routerLink]="['/accueil', 'sde']" > <img src="assets/icoservice-sde.png" />Paiement <b>SDE</b></a></li>
              <li role="presentation"><a [routerLink]="['/accueil', 'rapido']" > <img src="assets/icoservice-rapido.png" />Recharge <b>RAPIDO</b> </a></li>
              <li role="presentation" ><a [routerLink]="['/accueil', 'woyofal']" > <img src="assets/icoservice-woyofal.png" /> Recharge <b>WOYOFAL</b> </a></li>
              <li role="presentation" ><a [routerLink]="['/accueil', 'senelec']" > <img src="assets/icoservice-senelec.png" />Paiement <b>SENELEC</b> </a></li>
              <li role="presentation" ><a [routerLink]="['/accueil', 'oolu']" > <img src="assets/icoservice-oolu.png" />Paiement <b>Oolu Solar</b> </a></li>
              <li role="presentation" style="border-bottom: hidden;">&nbsp;</li>
          </ul>
    </div>
</div>
    <!-- /#page-wrapper -->

<div style="font-family:'caviar dreams bold';" bsModal #viewMore="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: #f39200; color: white;">
      <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body" style="text-align: center ;">
         <b>{{messageGeolocation}}</b> <br><br>
         <b>Longitude : {{this.longitude}}</b> <br>
         <b>Latitude : {{this.latitude}}</b> <br>
         <b>Accuracy : {{this.accuracy}}</b> <br>
      </div>

    </div>
  </div>
</div>




