  <div class="col-sm-12" style="font-family: 'caviar dreams bold';">
    <div class="panel panel-default" style="margin-top: 5rem;margin-left: -26rem;">
        <div class="panel-heading">
        
          <h2>TigoCash</h2>
        
        </div>

        <div class="cover"></div>

        <div class="panel-body">
             <div id="om-options">
                <a href="#depottigocash" style="padding-left: 4rem; padding-right: 4rem;" (click)="reinitialiser()"  data-toggle="tab">Dépôt</a>
                
                <a href="#retraittigocash" style="padding-left: 4rem; padding-right: 4rem;" (click)="reinitialiser()" data-toggle="tab">Retrait </a>
                
                <a href="#payertranfert" (click)="reinitialiser()" data-toggle="tab">Payer un transfert</a>

                <a href="#envoyerargent" style="display: none ;" (click)="reinitialiser()" data-toggle="tab">Envoyer de l'argent</a>
                
                <a href="#vendreizi" style="padding-left: 1rem; padding-right: 1rem;" (click)="reinitialiser()" data-toggle="tab">Vente IZI</a>
                
            </div>


            <!-- Tab panes  -->
            <div class="tab-content">

              <div class="col-sm-6 col-xs-12" *ngIf="erreur" style="padding-top: 7rem ; color: #337ab7">
                <h5>Désolé! Votre requête n'a pas pu être traitée.</h5> <h5 style="color : red">{{errorMessage}}</h5>
              </div>

               <div class="tab-pane fade col-sm-12 col-xs-12 in active" id="depottigocash">
                    <fieldset style="margin-top: 2rem;margin-bottom: 2rem;">
                        <h2>Dépôt</h2>
                    </fieldset>

                    <form (ngSubmit)="showmodaldepot()" #rechargementespece="ngForm" autocomplete="on">
                      <div class="form-group row">
                        <label style="text-align:left;" for="telephonerechargementespece" class="col-sm-3 col-form-label">Téléphone client</label>
                        <div class="col-sm-8">
                          <input type="number" [(ngModel)]="this.telephone"   name="telephone" id="telephonerechargementespece" class="form-control" placeholder="téléphone client" required style="border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label style="text-align:left;" for="montantrechargementespece" class="col-sm-3 col-form-label">Montant à recharger</label>
                        <div class="col-sm-8">
                          <input type="number" [(ngModel)]="this.montant"   name="montant" id="montantrechargementespece" class="form-control" placeholder="montant à recharger" required style="border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;">
                        </div>
                      </div>

                      <div class="row text-center">
                        <input type="submit" class="btn btn-success" style="border-radius: 2rem 0rem 2rem 2rem;" /> 
                        <input type="reset" class="btn btn-danger" style="border-radius: 2rem 0rem 2rem 2rem;" />
                      </div>
                    </form>
                </div>
               <div class="tab-pane fade col-sm-12 col-xs-12" id="retraittigocash">
                    <fieldset style="margin-top: 2rem;margin-bottom: 2rem;">
                        <h2>Retrait</h2>
                    </fieldset>
            
                    <form (ngSubmit)="showmodalretrait()" #rechargementespece="ngForm" autocomplete="on">
                      <div class="form-group row">
                        <label style="text-align:left;" for="telephonerechargementespece" class="col-sm-3 col-form-label">Téléphone client</label>
                        <div class="col-sm-8">
                          <input type="number" [(ngModel)]="this.telephone"   name="telephone" id="telephonerechargementespece" class="form-control" placeholder="téléphone client" required style="border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label  style="text-align:left;" for="montantrechargementespece" class="col-sm-3 col-form-label">Montant à recharger</label>
                        <div class="col-sm-8">
                          <input type="number" [(ngModel)]="this.montant"   name="montant" id="montantrechargementespece" class="form-control" placeholder="montant à recharger" required style="border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;">
                        </div>
                      </div>

                      <div class="row text-center">
                        <input type="submit" class="btn btn-success" style="border-radius: 2rem 0rem 2rem 2rem;"/>
                        <input type="reset" class="btn btn-danger"  style="border-radius: 2rem 0rem 2rem 2rem;"/>
                      </div>
                    </form>
                </div>
               <div class="tab-pane fade col-sm-12 col-xs-12" id="payertranfert">
                    <fieldset style="margin-top: 2rem;margin-bottom: 2rem;">
                        <h2>Payer un transfert</h2>
                    </fieldset>

                    <form (ngSubmit)="showmodalpaiment()" #rechargementespece="ngForm" autocomplete="on">

											<div class="form-group row">
													<label class="col-lg-3" style="text-align:left;">Code de retrait :</label>
													<div class="form-inline col-sm-8">
															<input type="text" [(ngModel)]="this.coderetrait" autocomplete="off"  id="numclient" name="coderetrait"  class="form-control" placeholder="Code de retrait" required style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;">
													</div>
											</div>
											<div class="form-group row">
													<label class="col-lg-3" style="text-align:left;">Prénom :</label>
													<div class="form-inline col-sm-8">
															<input type="text" [(ngModel)]="this.prenom" autocomplete="off"  name="prenom"  id="numclient"  class="form-control col-lg-5" placeholder="Prenom du client" required style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" >
													</div>
											</div>
											<div class="form-group row">
													<label class="col-lg-3" style="text-align:left;">Nom :</label>
													<div class="form-inline col-sm-8">
															<input type="text" [(ngModel)]="this.nom"  id="mnttrans" name="nom"  class="form-control col-lg-5 " placeholder="Nom du Client" required style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;">
													</div>
											</div>
											<div class="form-group row ">
													<label class="col-lg-3" style="text-align:left;">type de piece</label>
													<div class="form-inline col-sm-8">
															<select class="form-control" [(ngModel)]="this.typepiece" name="typepiece" style="margin-left:1rem; width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;" >
																<option value="2">carte national d'identite</option>
																<option value="1">passport</option>
															</select>
													</div>
											</div>
											<div class="form-group row">
													<label  class="col-lg-3" style="text-align:left;">Numéro  piece  :</label>
													<div class="form-inline col-sm-8">
															<input type="text" [(ngModel)]="this.numeropiece"  autocomplete="off" name="cni"  id="mnttrans"  class="form-control col-lg-5" placeholder="Numero d'identite du client" required style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;">
													</div>
											</div>
											<div class="form-group row">
													<label class="col-lg-3" style="text-align:left;">Numéro Client</label>
													<div class="form-inline col-sm-8">
															<input type="string"  autocomplete="off" [(ngModel)]="this.numclient" name="verifiernuminput" id="numclient"  class="form-control col-lg-5" placeholder="Numéro du client" required autofocus style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;">
													</div>
											</div>
											<div class="form-group row">
													<label  class="col-lg-3" style="text-align:left;">Montant retrait</label>
													<div class="form-inline col-sm-8">
															<input type="number" autocomplete="off" [(ngModel)]="this.mnt" name="montantretrait" id="montantretrait"  class="form-control col-lg-5" placeholder="Montant à retirer" required autofocus style=" width:100%;border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;">
													</div>
											</div>
											<div class="row text-center">
													<input type="submit" class="btn btn-success" style="border-radius: 2rem 0rem 2rem 2rem;"/>
													<input type="reset" class="btn btn-danger"  style="border-radius: 2rem 0rem 2rem 2rem;"/>
											</div>
                    </form>
                </div>
               <div class="tab-pane fade col-sm-12 col-xs-12" id="envoyerargent">

        

                  <div class="row">
					  <div class="col-lg-5">
							<form  #rechargementespece="ngForm" autocomplete="on">
							 <fieldset>
								 <legend>Information Expediteur</legend>
							  <div class="form-group row">
								
								<div class="col-sm-8 form-group form-inline">
								  <label style="text-align:left;">Montant</label>
								  <input type="text" [(ngModel)]="this.montant"   name="montant" id="telephonerechargementespece" class="form-control" placeholder="Montant" required style="border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;">
								</div>
								<div class="col-sm-8 form-group">
								  <label style="text-align:left;">Prenom</label>
								  <input type="text" [(ngModel)]="this.prenomExpediteur"   name="prenom" id="telephonerechargementespece" class="form-control" placeholder="Prenom" required style="border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;">
								</div>
								<div class="col-sm-8 form-group">
								  <label style="text-align:left;">Nom</label>
								  <input type="text" [(ngModel)]="this.nomExpediteur"   name="nom" id="telephonerechargementespece" class="form-control" placeholder="Nom" required style="border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;">
								</div>
								<div class="col-sm-8 form-group">
								  <label style="text-align:left;">Telephone</label>
								  <input type="text" [(ngModel)]="this.telephoneExpediteur"   name="telephoneExpediteur" id="telephonerechargementespece" class="form-control" placeholder="Telephone" required style="border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;">
								</div>
							  </div>
							  </fieldset>
							</form>
                    </div>
                    <div class="col-lg-offset-2 col-lg-5">
						   <form (ngSubmit)="showmodalenvoi()" #rechargementespece="ngForm" autocomplete="on">
							 <fieldset>
								 <legend>Information Bénéficiaire</legend>
							  <div class="form-group row">
								
								<div class="col-sm-8 form-group">
								  <label style="text-align:left;">Prenom</label>
								  <input type="text" [(ngModel)]="this.prenomBeneficiaire"   name="prenom" id="telephonerechargementespece" class="form-control" placeholder="Prenom" required>
								</div>
								<div class="col-sm-8 form-group">
								  <label style="text-align:left;">Nom</label>
								  <input type="text" [(ngModel)]="this.nomBeneficiaire"   name="nom" id="telephonerechargementespece" class="form-control" placeholder="Nom" required>
								</div>
								<div class="col-sm-8 form-group">
								  <label style="text-align:left;">Telephone</label>
								  <input type="text" [(ngModel)]="this.telephoneBeneficiaire"   name="telephoneBeneficiaire" id="telephonerechargementespece" class="form-control" placeholder="Telephone" required>
								</div>
							  </div>
							 </fieldset>
							</form>
                    </div>
                    
                   </div>
                   <div class="row text-center">
								<input type="submit" (click)="showmodalenvoi()" class="btn btn-success" style="border-radius: 2rem 0rem 2rem 2rem;" />
								<input type="reset" class="btn btn-danger" style="border-radius: 2rem 0rem 2rem 2rem;" />
					 </div>
                </div>
             <div class="tab-pane fade col-sm-12 col-xs-12" id="vendreizi">
      
                    <fieldset style="margin-top: 2rem;margin-bottom: 2rem;">
                        <h2>Vente IZI</h2>
                    </fieldset>

                    <form (ngSubmit)="showmodalvendreizi()" #rechargementespece="ngForm" autocomplete="on">
                      <div class="form-group row">
						 							<label style="text-align:left;" class="col-sm-3 col-form-label">Numero client</label>
                         <div class="col-sm-8">
                          <input type="number" [(ngModel)]="this.telephone"   name="telephone" id="telephonerechargementespece" class="form-control" placeholder="téléphone client" required style="border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;">
                         </div>
                      </div>
                      <div class="form-group row">
												 <label style="text-align:left;"  class="col-sm-3 col-form-label">Montant</label>
                         <div class="col-sm-8">
                          <input type="number" [(ngModel)]="this.montant"   name="montant" id="telephonerechargementespece" class="form-control" placeholder="téléphone montant" required style="border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;">
	                      </div>
                      </div>
                      <div class="row text-center">
                        <input type="submit" class="btn btn-success" style="border-radius: 2rem 0rem 2rem 2rem;"/>
                        <input type="reset" class="btn btn-danger" style="border-radius: 2rem 0rem 2rem 2rem;" />
                      </div>
                    </form>
 
                </div>
             <div class="tab-pane fade col-sm-12 col-xs-12" id="inscription">
                    <fieldset style="margin-top: 2rem;margin-bottom: 2rem;">
                        <h2></h2>
                    </fieldset>
                    <form (ngSubmit)="showmodalinscription()" #rechargementespece="ngForm" autocomplete="on">
                      <div class="form-group row">
                        
                        <div class="col-sm-8">
						 							<label style="text-align:left;">Numero client</label>
                          <input type="number" [(ngModel)]="this.telephoneBeneficiaire"   name="telephone"  class="form-control" placeholder="téléphone client" required style="border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;">
                        </div>
                        <div class="col-sm-8">
						 							<label style="text-align:left;">Prenom</label>
                          <input type="text" [(ngModel)]="this.prenom"   name="prenom"  class="form-control" placeholder="prenom clienr" required style="border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;">
                        </div>
                        <div class="col-sm-8">
						 							<label style="text-align:left;">Nom</label>
                          <input type="text" [(ngModel)]="this.nom" name="nom"  class="form-control" placeholder="nom client" required style="border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;">
                        </div>
                        <div class="col-sm-8">
														<div class="form-group">
																<label style="text-align:left;">type de piece</label>
																	<select class="form-control" [(ngModel)]="this.typepiece" name="typepiece" style="border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;">
																		<option value="1">carte national d'identite</option>
																		<option value="2">passport</option>
																	</select>
														</div>
                        </div>
                        <div class="col-sm-8">
														<label	style="text-align:left;">numero piece</label>
														<input type="text" [(ngModel)]="this.numeropiece"   name="montant" id="telephonerechargementespece" class="form-control" placeholder="téléphone montant" required style="border-radius: 2rem 0rem 2rem 2rem;border: 1px solid #36a9e0;">
                        </div>
                      </div>
                      <div class="row text-center">
													<input type="submit" class="btn btn-success" style="border-radius: 2rem 0rem 2rem 2rem; "/>
													<input type="reset" class="btn btn-danger" style="border-radius: 2rem 0rem 2rem 2rem;"/>
                      </div>
                    </form>
                    
                </div>


           </div>
        </div>
    </div>
</div>

<div *ngIf="this.loading">
    <app-loader></app-loader>
</div>

<!-- Les Modal -->


<!-- Modal depot -->
<div bsModal #modaldepot="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

		 <div class="modal-dialog modal-sm">
		    <div class="modal-content" >
		      <div class="modal-header">
				<button type="button" class="close pull-right" aria-label="Close" (click)="hidemodaldepot()">
				    <span aria-hidden="true">&times;</span>
		        </button>
	            <h4 class="modal-title" id="myModalLabel">Fenêtre de confirmation.</h4>
		     </div>
		     <div class="modal-body">
		
				 <div>
					 <form class="form">
						 <div class="form-group">
							 <label >Telephone client : {{this.telephone}}</label>
						 </div>
						 <div class="form-group">
							 <label >montant : {{this.montant}}</label>
						 </div>
					 </form>
					
				 </div>
		     </div>
		     <div class="modal-footer">
				  <input type="button" value="valider" (click)="depot()" class="btn btn-success" style="border-radius: 2rem 0rem 2rem 2rem;" />
				  <input type="button" value="fermer" (click)="hidemodaldepot()" class="btn btn-danger" style="border-radius: 2rem 0rem 2rem 2rem;"/>
		     </div>
		  </div> 
	    </div>
</div>
<!-- Modal retrait -->
<div bsModal #modalretrait="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

		 <div class="modal-dialog modal-sm">
		    <div class="modal-content" >
		      <div class="modal-header">
				<button type="button" class="close pull-right" aria-label="Close" (click)="hidemodalretrait()">
				    <span aria-hidden="true">&times;</span>
		        </button>
	            <h4 class="modal-title" id="myModalLabel">Fenêtre de confirmation.</h4>
		     </div>
		     <div class="modal-body">
		
				 <div>
					 <form class="form">
						 <div class="form-group">
							 <label >Telephone client : {{this.telephone}}</label>
						 </div>
						 <div class="form-group">
							 <label >montant : {{this.montant}}</label>
						 </div>
					 </form>
					
				 </div>
		     </div>
		     <div class="modal-footer">
				  <input type="button" value="valider" (click)="retrait()" class="btn btn-success" style="border-radius: 2rem 0rem 2rem 2rem" />
				  <input type="button" value="fermer" (click)="hidemodalretrait()" class="btn btn-danger" style="border-radius: 2rem 0rem 2rem 2rem;" />
		     </div>
		  </div> 
	    </div>
</div>
<div bsModal #modalinscription="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

		 <div class="modal-dialog modal-sm">
		    <div class="modal-content" >
		      <div class="modal-header">
				<button type="button" class="close pull-right" aria-label="Close" (click)="hidemodalinscription()">
				    <span aria-hidden="true">&times;</span>
		        </button>
	            <h4 class="modal-title" id="myModalLabel">Fenêtre de confirmation.</h4>
		     </div>
		     <div class="modal-body">
		
				 <div>
					 <form class="form">
							Code de retrait
							<div class="form-group">
									<label >Code de retrait: {{this.coderetrait}}</label>
							</div>
						 <div class="form-group">
							 <label >Telephone client : {{this.telephone}}</label>
						 </div>
						 <div class="form-group">
							 <label >prenom : {{this.prenom}}</label>
						 </div>
						 <div class="form-group">
							 <label >nom : {{this.nom}}</label>
						 </div>
						 <div class="form-group">
							 <label >type piece : {{this.typepiece}}</label>
						 </div>
						 <div class="form-group">
							 <label >Numero piece : {{this.numeropiece}}</label>
						 </div>
					 </form>
					
				 </div>
		     </div>
		     <div class="modal-footer">
				  <input type="button" value="valider" (click)="inscription()" class="btn btn-success" style="border-radius: 2rem 0rem 2rem 2rem;" />
				  <input type="button" value="fermer" (click)="hidemodalinscription()" class="btn btn-danger" style="border-radius: 2rem 0rem 2rem 2rem;"/>
		     </div>
		  </div> 
	    </div>
</div>
<!-- Modal payer un transfert -->
<div bsModal #modalpaiment="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

		 <div class="modal-dialog modal-sm">
		    <div class="modal-content" >
		      <div class="modal-header">
				<button type="button" class="close pull-right" aria-label="Close" (click)="hidemodalpaiment()">
				    <span aria-hidden="true">&times;</span>
		        </button>
	            <h4 class="modal-title" id="myModalLabel">Fenêtre de confirmation.</h4>
		     </div>
		     <div class="modal-body">
		
				 <div>
					 <form class="form">
								<div class="form-group">
									<label >Code Retrait : {{this.coderetrait}}</label>
								</div>
								<div class="form-group">
									<label >Nom du cient : {{this.nom}}</label>
								</div>
								<div class="form-group">
									<label >Prenom du client : {{this.prenom}}</label>
								</div>
								<div class="form-group">
									<label >Numero piece: {{this.numeropiece}}</label>
								</div>
								<div class="form-group">
									<label >Montant : {{this.mnt}}</label>
								</div>
					 </form>
					
				 </div>
		     </div>
		     <div class="modal-footer">
				  <input type="button"  (click)="payerTransfer()" class="btn btn-success" style="border-radius: 2rem 0rem 2rem 2rem;"/>
				  <input type="button" value="fermer" (click)="hidemodalpaiment()" class="btn btn-danger" style="border-radius: 2rem 0rem 2rem 2rem;"/>
		     </div>
		  </div> 
	    </div>
</div>
<div bsModal #modalvendreizi="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

		 <div class="modal-dialog modal-sm">
		    <div class="modal-content" >
		      <div class="modal-header">
				<button type="button" class="close pull-right" aria-label="Close" (click)="hidemodalvendreizi()">
				    <span aria-hidden="true">&times;</span>
		        </button>
	            <h4 class="modal-title" id="myModalLabel">Fenêtre de confirmation.</h4>
		     </div>
		     <div class="modal-body">
		
				 <div>
					 <form class="form">
						 <div class="form-group">
							 <label >Téléphone : {{this.telephone}}</label>
						 </div>
						 <div class="form-group">
							 <label >Montant  : {{this.montant}}</label>
						 </div>
						 
					 </form>
					
				 </div>
		     </div>
		     <div class="modal-footer">
				  <input type="button" value="valider" (click)="izi()" class="btn btn-success" style="border-radius: 2rem 0rem 2rem 2rem;"/>
				  <input type="button" value="fermer" (click)="hidemodalvendreizi()" class="btn btn-danger" style="border-radius: 2rem 0rem 2rem 2rem;"/>
		     </div>
		  </div> 
	    </div>
</div>
<div bsModal #modalenvoi="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

		 <div class="modal-dialog modal-lg">
		    <div class="modal-content" >
		      
		     <div class="modal-body">
		       <div>
				 <div class="col-lg-4">
					 <form class="form">
						 <fieldset>
							 <legend>Expediteur</legend>
							 <div class="form-group">
								 <label >Montant : {{this.montant}}</label>
							 </div>
							 <div class="form-group">
								 <label >prenom : {{this.prenomExpediteur}}</label>
							 </div>
							 <div class="form-group">
								 <label >nom : {{this.nomExpediteur}}</label>
							 </div>
							 <div class="form-group">
								 <label >Telephone : {{this.telephoneExpediteur}}</label>
							 </div>
						 </fieldset>
					 </form>
					
				 </div>
				 <div class="col-lg-offset-2 col-lg-4">
					  <form class="form">
						 <fieldset>
							 <legend>Beneficiaire</legend>
							
							 <div class="form-group">
								 <label >prenom : {{this.prenomBeneficiaire}}</label>
							 </div>
							 <div class="form-group">
								 <label >nom : {{this.nomBeneficiaire}}</label>
							 </div>
							 <div class="form-group">
								 <label >Telephone : {{this.telephoneBeneficiaire}}</label>
							 </div>
						 </fieldset>
					 </form>
				 </div>
		     </div>
		     <div class="modal-footer">
				  <input type="button" value="valider" (click)="envoiyerargent()" class="btn btn-success" style="border-radius: 2rem 0rem 2rem 2rem;"/>
				  <input type="button" value="fermer" (click)="hidemodalenvoi()" class="btn btn-danger" style="border-radius: 2rem 0rem 2rem 2rem;"/>
		     </div>
		  </div> 
	    </div>
</div>

